[2016-05-16 18:18] alexandresobolevski opened #2 "Resolve ESLint issues of files required to have a minimal viable app"
Resolve ESLint style issues of the following files:
- [x] main.development.js
- [x] sequelizeManager.js
- [x] parse.js
- [x] app/components/Configuration.react.js
- [x] app/actions/ipc.js

[2016-05-17 16:16] alexandresobolevski opened #4 "Promise sequelize login message to the IPC main channel"
On `ipcMain.on('connect')`,  `sequelizeManager.login` should return a promised confirmation or error message of the connection established with a given database. Otherwise, login state is may not be updated when `event.sender` executes.

This requires:
- [x] rewrite sequelizeManager.js to have `initialize` send back a promise
- [x] update main.development.js to use the above promise

[2016-05-17 16:20] alexandresobolevski opened #5 "Use the UI to input connection credentials instead of hard code"
Currently connection credentials are hard-coded inside `main.development.js`. They should be sent via the currently unused `payload`.

This requires:
- [x] add user input tags
- [x] update config with credentials
- [x] set credentials sent via the ipc channel using `payload`

[2016-05-17 16:35] #2 closed, assigned to alexandresobolevski

[2016-05-17 20:46] #4 closed, assigned to alexandresobolevski

[2016-05-17 22:15] alexandresobolevski opened #8 "Trim down boilerplate components"
Project originated from an electron [boilerplate](https://github.com/chentsulin/electron-react-boilerplate)
- [x] Remove the `counter` component
- [x] Modify the home page to be more relevant to the project
- [x] Update the app icon
- [x] Remove some css

[2016-05-18 00:10] alexandresobolevski opened #9 "Standardize spacing"
to 4 spaces

as mentioned in #7 [discussion](https://github.com/plotly/electron-sql-connector/pull/7#discussion_r63613212)

[2016-05-18 14:39] #5 closed, assigned to alexandresobolevski

[2016-05-18 17:22] #9 closed, assigned to alexandresobolevski

[2016-05-18 19:22] #8 closed, assigned to alexandresobolevski

[2016-05-27 22:59] alexandresobolevski opened #13 "sqlite needs to be rebuilt using node-gyp to work with electron"

[2016-05-30 14:51] alexandresobolevski opened #14 "sqlite only input is a path to the database"
display a single input field when selected engine is SQLITE in `settings.react.js`, pass it to the sequelizeManager when creating a connector

[2016-05-30 15:33] alexandresobolevski opened #15 "sqlite database selector returns `none found` once connected"
The SQLITE path indicates the database itself. There is no need to choose a database for SQLITE once connected to a _file.db_
The database selector should not be shown when the `selectedDB` is `ENGINES.SQLITE` in `settings.react.js`

<img width="830" alt="sqlite" src="https://cloud.githubusercontent.com/assets/13302110/15653271/0467a95a-265a-11e6-8e69-41d92d9d7487.png">

[2016-05-30 15:55] alexandresobolevski opened #16 "postgres requires a database/scheme field when logging in"
When 'configuration.database = null`, postgres assumes the user's name ('Alexandre' in my case) as database/scheme and tries to connect to that instead.
Returns error "database 'Alexandre' not found".

[2016-05-30 16:13] alexandresobolevski opened #17 "sqlite UI "path to database" field value should clear when another engine is selected"
The path value entered into the "path to database" field stays after another database is selected, it should be cleared to ease the user experience.
![](http://g.recordit.co/8AjPkywaUz.gif)

[2016-05-30 20:02] alexandresobolevski opened #18 "settings need a "host" user input option which would default to `localhost` if left unchanged"

[2016-05-30 21:12] alexandresobolevski opened #19 "mssql connection should have `encrypt = true`"
example of mssql Sequelize connection instance to an MS Azure database

[code]

[2016-05-30 22:04] alexandresobolevski opened #20 "mssql uses slightly different query syntax, built-in queries should be modified"
`SHOW DATABASES` becomes `SELECT * FROM Sys.Databases`
`SHOW TABLES` becomes `SELECT * FROM information_schema.tables`

[2016-06-02 21:04] alexandresobolevski opened #21 "preset queries should be variables of the used dialect"
will resolve #20

create a function that returns query for showing databases or tables using the dialect that the user chose

[2016-06-02 21:41] #13 closed, assigned to alexandresobolevski

[2016-06-02 21:41] #14 closed, assigned to alexandresobolevski

[2016-06-03 00:01] alexandresobolevski opened #22 "do not need `.spread` for preset queries"
By default, the function will return two arguments: an array of results, and a metadata object, containing number of affected rows etc. Use .spread to access the results.

If you are running a type of query where you don't need the metadata, for example a SELECT query, you can pass in a query type to make sequelize format the results:

`sequelize.query('SELECT...').spread(function (results, metada

[2016-06-03 15:34] #20 closed, assigned to alexandresobolevski

[2016-06-03 16:05] #22 closed, assigned to alexandresobolevski

[2016-06-03 16:05] #21 closed, assigned to alexandresobolevski

[2016-06-05 15:53] #19 closed, assigned to alexandresobolevski

[2016-06-05 15:53] #18 closed, assigned to alexandresobolevski

[2016-06-05 15:53] #16 closed, assigned to alexandresobolevski

[2016-06-05 15:53] #15 closed, assigned to alexandresobolevski

[2016-06-07 14:49] alexandresobolevski opened #25 "sqlite "path to database" should have a file browser input"

[2016-06-08 23:21] #17 closed, assigned to alexandresobolevski

[2016-06-08 23:22] alexandresobolevski opened #26 "multiple ipc listeners created when browser is rerendered"

[2016-06-13 16:06] alexandresobolevski opened #28 "sqlite "path to database" should only accept .db extensions"

[2016-06-13 21:35] alexandresobolevski opened #29 "sqlite server `connect` POST should only receive a response once"

[2016-06-13 21:42] #29 closed, assigned to nobody

[2016-06-22 19:56] alexandresobolevski opened #30 "accept POST and GET requests"
https://github.com/plotly/electron-sql-connector/pull/27#discussion_r67913537

[2016-06-23 16:42] #26 closed, assigned to alexandresobolevski

[2016-06-23 16:43] #25 closed, assigned to alexandresobolevski

[2016-06-28 17:17] #28 closed

[2016-06-28 17:19] alexandresobolevski opened #32 "microsoft SQL server requires `tedious` dependency"

[2016-06-28 17:22] alexandresobolevski opened #33 "bug: buttonMesasge `connecting` state"
button message should be `connecting` once clicked on until connection request is resolved

[2016-06-29 19:14] chriddyp opened #36 "upgrade deprecated dependencies"
![image](https://cloud.githubusercontent.com/assets/1280389/16465339/081858aa-3df3-11e6-86ef-ddb1ce23ae0b.png)

[2016-07-04 20:23] #32 closed

[2016-07-05 00:28] alexandresobolevski opened #38 "windows i32 and x62 package fails"
[code]

[2016-07-05 02:17] alexandresobolevski commented on #38
[electron-packager note for windows](https://github.com/electron-userland/electron-packager/blob/master/readme.md#building-windows-apps-from-non-windows-platforms)

[2016-07-05 14:48] alexandresobolevski commented on #38
installing [Wine](https://www.winehq.org/) ^1.8.3 on computer that creates packages solved it

[2016-07-05 14:48] #38 closed

[2016-07-05 22:54] #33 closed

[2016-07-06 02:47] alexandresobolevski opened #40 "sqlite3 node-gyp build does not work when packaged for windows and linux"

[2016-07-06 13:13] alexandresobolevski opened #41 "the dialog box for `path to database` does not display .db files on windows"

[2016-07-07 15:13] alexandresobolevski opened #42 "use error type from API to better handle buttonMessage and connection state"
app state will go disconnected as soon as an `error` prop is received as a response from the server -- this should not happen when there was a query error or database was not accessible for the user

[2016-07-08 21:09] alexandresobolevski opened #43 "if a fetch to /connect is made without a connected app, an 'internal error' is returned"
catch in the code a non-existant sequelizeManager object and return an `error: 'no connection exists yet'`

[2016-07-10 22:29] #43 closed

[2016-07-10 22:29] #42 closed

[2016-07-15 20:48] alexandresobolevski opened #46 "update README"
talk about local-test-e2e set_creds.sh that is gitignored

[2016-07-15 20:49] alexandresobolevski opened #47 "Rewrite the 'element not found' logic in e2e tests"
updated `findEl` to return `not found` if element is not found instead of using a try...catch loop in testing elements that should not be rendered

[2016-07-15 21:00] alexandresobolevski opened #48 "catch & log more errors"
- when query statement is not defined at /query endpoint
- when connection takes too long (setup a timeout for sequelize?)

[2016-07-15 22:23] alexandresobolevski opened #49 "API v1: modularize backend messageHandler and sequelizeManager"
endpoints that should exist
- /connect
action: establish connection via config file when headless or ipc payload when not
returns: connection state object

- /authenticate
action: checks for existing valid connection
returns: connection state object

- /databases :
action: authenticate, queries databases
returns: databases list

- /tables?database=name :
action: authenticate, queries tables
return

[2016-07-20 17:46] chriddyp opened #51 "SSL Support"
Plotly 2.0 runs over HTTPS but the connector server is running on HTTP. To connect Plotly 2.0 to the SQL connector the user needs to update their web browser settings to allow for insecure HTTP connections.

Here is the setting in Chrome:
![image](https://cloud.githubusercontent.com/assets/1280389/16996601/0199c868-4e80-11e6-925e-6329e89d8d6f.png)

Once this is enabled, Plotly 2.0 can connect to t

[2016-07-21 16:40] #48 closed

[2016-07-21 16:40] #49 closed

[2016-07-27 19:03] gfdunn2 opened #54 "bunyan not included in the Windows 64-bit distribution"
v0.0.3-alpha, Plotly.Database.Connector.-.Windows.64bit.zip

I got this error when executing Plotly Database Connector.exe:

![image](https://cloud.githubusercontent.com/assets/18237788/17185922/a99042fe-53f8-11e6-99e9-49dab865d2b1.png)

It's complaining that that the 'bunyan' module is not found.

I downloaded bunyan from https://github.com/trentm/node-bunyan and dropped it into resources\app\nod

[2016-07-29 17:42] scjody opened #55 "Request & use an official port"
This tool should use an official port assigned by IANA before it's released to the public.  See https://tools.ietf.org/html/rfc6335#section-8.1.1 for the process to request one.

Some notes:
* Assignee & contact should be a global address like support@plot.ly.
* Port number: anything from the user port range is fine; let's let them pick one.
* We should multiplex things so we can work with **one p

[2016-08-03 19:35] #54 closed

[2016-08-03 19:41] alexandresobolevski opened #58 "Packaged app throws error trying to open the log file"

[2016-08-03 21:04] alexandresobolevski opened #59 "Dropdown menus do not show up after a connection error then successfully logging in"

[2016-08-05 15:06] alexandresobolevski commented on #58
no more error but the underlying issue of not having access to the log file is not resolved yet.

[2016-08-05 15:07] alexandresobolevski opened #62 "Change config.json file to YAML format"
as per @scjody [comment](https://github.com/plotly/streambed/issues/7269#issuecomment-237873997)

[2016-08-09 15:32] alexandresobolevski commented on #58
resolved in #61

[2016-08-09 15:33] #58 closed

[2016-08-15 17:09] alexandresobolevski commented on #51
If you are using the Plotly Database Connector v0.0.4 or later and you are using a MacOSX or Linux operating systems, follow these steps to setup your https connection from your computer to plot.ly when transferring data.

![step0](https://cloud.githubusercontent.com/assets/13302110/17672189/21309544-62e9-11e6-874e-360fd95b09b8.png)
![step1](https://cloud.githubusercontent.com/assets/13302110/1767

[2016-08-15 20:35] #59 closed

[2016-08-15 20:44] alexandresobolevski opened #65 "SSL support for windows"
- [ ] make `openssl` work or find an alternative for windows
- [ ] shell scripts `createKeyes` and `redirectConnector` won't work on windows due to the paths inside them
- [ ] when calling `sudo` commands, the paths should be built using  the [nodejs path library](https://nodejs.org/docs/latest/api/path.html), use path.dirname to convert directory paths and path.sep for separators

[2016-08-15 20:47] alexandresobolevski commented on #55
Update/tracking for this issue.

- [x] Requested placed on Aug 4th.  [IANA #921808]
- [ ] Receive response
- [ ] Address comments if any

[2016-08-19 13:11] alexandresobolevski commented on #62
resolved in #68

[2016-08-19 13:11] #62 closed

[2016-08-19 19:12] chriddyp opened #71 "extra `$` prefix in the logs"
![image](https://cloud.githubusercontent.com/assets/1280389/17821363/48640ff4-661f-11e6-9c2c-ee7fb3d34212.png)

cc @alexandresobolevski

[2016-08-22 15:24] #30 closed

[2016-08-22 15:24] #71 closed

[2016-08-22 18:41] chriddyp opened #73 "Register as Windows software publisher"
Opening the app in Windows causes a **Unknown Publisher** error:
![image](https://cloud.githubusercontent.com/assets/1280389/17864273/64585f0a-686b-11e6-8c46-db9ad02a54f7.png)

[2016-08-22 20:27] alexandresobolevski commented on #73
- [ ] Apple
guidelines for electron app distribution : [](https://github.com/electron-userland/electron-osx-sign/wiki/1.-Getting-Started)
- [ ] Windows

[2016-08-24 18:37] dudleycarr opened #75 "Redshift support"
The Postgresql driver returns the following error when trying to connect to a Redshift server. Some Postgresql clients are able to work with Redshift. If that's not workable, any plans to add support for Redshift?

[code]

[2016-08-25 14:04] alexandresobolevski commented on #75
Support for Redshift is certainly in the pipeline. Let me see over the weekend if it can be quickly implemented by using a similar flow to the current Postgresql connection.

[2016-08-30 07:36] stephancb opened #76 "Not working with Sqlite?"
On Fedora 24 I enter the path to an sqlite db file, press connect and get the error popup below. sqlite3 is of course installed on the system.

[code]

[2016-08-31 17:47] alexandresobolevski commented on #76
Hey, currently there is an issue for Sqlite for windows and linux OS' that is induced during the packaging of the app step. We are tracking it in #40.

[2016-08-31 17:47] #76 closed

[2016-09-01 14:38] alexandresobolevski commented on #75
Hey @dudleycarr , there is a PR #77 for Redshift support, as soon as that is merged into master you could could clone the repo and see if that works for you.

[2016-09-01 15:37] alexandresobolevski opened #78 "Multiple connections"
Support multiple connections:
- [x] add session by clicking on a plus button
- [x] render settings page only when at least one conneciton exists
- [x] newly created session is created with the INITIAL_STATE props
- [x] keeps databases and tables information for several sessions such that the user get's back to exactly where he/she left off
- [ ] delete session by clicking on a minus button
- [ ] s

[2016-09-01 15:52] alexandresobolevski opened #79 "Send port number via ipc channel to front end at startup"
#74 needs this to work. https setup pings at `https://connector.plot.ly:5000` but we want to keep the port possibly setup by the user from the command line. Simply importing `OPTIONS` object from `backend/args.js` does not work.

If a user starts up the app on another port the secure connection will not work since pings will be sent to the wrong port.

Affects:
- Mac OS users that started the app

[2016-09-01 16:05] alexandresobolevski opened #80 "Accessing a database with no tables will cause the app to fail"
Bug comes from TableDropdown.react.js
On the line `if (tableNames === null) {`
Since `tableNames = ipc.get('tables')` if the `tables` object is an empty list the if loop will still try to be evaluated.

[2016-09-02 00:05] #75 closed

[2016-09-09 13:54] #80 closed

[2016-09-09 21:11] alexandresobolevski commented on #46
resolved in #85

[2016-09-09 21:11] #46 closed

[2016-09-12 15:58] chriddyp opened #86 "Update status page to display port `5000` instead of `5001`"
![image](https://cloud.githubusercontent.com/assets/1280389/18442824/34072bbc-78e0-11e6-8e90-ec9b1fcf7fe3.png)

[2016-09-15 14:27] #86 closed

[2016-09-15 15:10] chriddyp opened #88 "Configurable CORS for Plotly On-Premise"
We'll need to make the CORS configuration configurable by the user so that their version of Plotly On-Prem can make requests to the connector.

[2016-09-19 15:06] alexandresobolevski opened #90 "Connection Errors not displayed properly on the app interface"
<img width="747" alt="screen shot 2016-09-19 at 11 03 10 am" src="https://cloud.githubusercontent.com/assets/13302110/18637052/19655788-7e59-11e6-9795-362813d1e0b3.png">

[2016-09-23 21:11] alexandresobolevski commented on #90
resolved in #91

[2016-09-23 21:11] #90 closed

[2016-09-23 21:16] alexandresobolevski opened #94 "[FEATURE] SSL checkbox for database connection"
Redshift connection object requires a `dialectOptions: {ssl: Bool}`
Other databases may support ssl as well.
Here an ssl checkbox is proposed.
The default value is currently `undefined` by sequelize which the app will set to false.

[2016-09-23 21:24] alexandresobolevski opened #95 "[FEATURE] sessions api"
/v1/sessions
- should return
[code]

/v1/addsession
- should return
[code]

/v1/deletesession?session=1474906045
- should return
[code]

[2016-09-23 21:50] alexandresobolevski opened #96 "API: /status returns error when fetched after accepting certificate in keychain"
If accessed manually the endpoint delivers the correct page successfully.
It returns a success once the app is restarted after the session that create the certificates.
![screen shot 2016-09-23 at 5 45 31 pm](https://cloud.githubusercontent.com/assets/13302110/18802363/43d82e0e-81b6-11e6-9b14-ba64796b3533.png)

[2016-09-23 22:37] #88 closed

[2016-09-26 16:27] alexandresobolevski commented on #55
On review, we do not believe that a port number is necessary for this
service as described in the application. Since the Internet communication
happens over the Web protocol stack between the browser and a web service,
and the port is only useful on a localhost connection between the browser
and an application server, dynamic port selection approaches suffice:
Plotly can simply specify arbitrary p

[2016-09-26 16:35] #95 closed

[2016-09-26 17:55] scjody commented on #55
Oh well ¯\_(ツ)_/¯

Let's continue to use the port we've chosen, and if a customer ever has a conflict we can make the port configurable at that time.  @alexandresobolevski Close this if you agree 😸

[2016-09-26 18:13] alexandresobolevski commented on #55
closing. will use 9494.

[2016-09-26 18:13] #55 closed

[2016-09-26 18:16] alexandresobolevski opened #98 "API, UI: migrate the app to use port 9494"
- [ ] update the default port in args.js
- [ ] change the default port in workspace import-data modal
- [ ] change the images in the app of the workspace import-data modal to show port 9494 instead of 5000
- [ ] change the docs images to show port 9494 in the screenshots

[2016-09-26 18:24] alexandresobolevski opened #99 "API: OAuth2 support"
@scjody could I get a more specific idea of a response you expect to get from the connector's `${connectorURL}:9494/oath2` endpoint

[2016-09-26 21:21] #94 closed

[2016-09-27 14:41] scjody commented on #99
No response is needed from that endpoint.  You just need to store the token so that you can use it on future requests.

As a reminder, here's some really good information on OAuth 2.  We're using the implicit flow.

[2016-09-27 14:41] scjody commented on #99
https://www.digitalocean.com/community/tutorials/an-introduction-to-oauth-2

[2016-10-13 11:14] yech1990 commented on #40
still not work after 96608bc

[2016-10-13 17:01] alexandresobolevski opened #106 "UI: provide better placeholders"
https://github.com/plotly/plotly-database-connector/pull/104#issuecomment-253106616

[2016-11-25 21:14] thejackluo opened #113 "Database connector not generating HTTPS certificates"
![screenshot 2016-11-25 16 10 28](https://cloud.githubusercontent.com/assets/11511652/20635357/25c9256c-b32a-11e6-8d02-e4b04281705f.png)

[2016-12-08 04:00] #79 closed

[2016-12-08 04:01] #99 closed

[2016-12-08 04:01] #96 closed

[2016-12-08 04:02] #98 closed

[2016-12-20 14:56] stocksnut opened #126 "Windows Zip file is invalid"
When I try to open the 32-bit or 64-bit versions, I get the error "Windows cannot open the folder.  The Compressed Folder is invalid"

[2017-01-06 21:14] chriddyp commented on #126
Thanks for reporting! Which programming are you using to unzip the file? I was able to unzip it with 7zip on a windows machine.

[2017-01-10 22:57] #113 closed

[2017-01-10 22:58] alexandresobolevski commented on #51
discussed and progress updated [here](https://github.com/plotly/streambed/issues/8846)

[2017-01-10 22:59] alexandresobolevski commented on #65
Closing since is a subset of #51

[2017-01-10 22:59] #65 closed

[2017-01-10 23:00] alexandresobolevski commented on #106
I think we discussed that the string 'optional' was not necessary for elasticsearch connection, feel free to open for more updates.

[2017-01-10 23:01] #106 closed

[2017-01-12 19:43] chriddyp commented on #126
Another error that was reported:

The issue here seems to be related to the presence of BIN files inside the zip file.

[2017-01-16 15:53] alexandresobolevski commented on #126
The[ latest release ](https://github.com/plotly/plotly-database-connector/releases/tag/1.0.3)uses installation wizards for Windows and Mac. Downloading and installing has been tested on both systems. I will close this issue for now.

[2017-01-16 17:39] #36 closed

[2017-01-25 14:29] alexandresobolevski opened #129 "Not displaying table preview for a Postgres database"
The user has data on a localhost Postgres database of the following format:

Example of tables:

 [Fleet_data] ------- imported from IMO_numbers.csv [37 rows]
num,group,company,company2,name,type,flag,IMO
1,ANABAC,Pevasa,Pevasa,Playa de Bakio,Atunero,Spain,9010345
2,ANABAC,Pevasa,Pevasa,Playa de Ris,Atunero,Spain,9684548
3,ANABAC,Pevasa,Pevasa,Playa de Azkorri,Atunero,Cabo Verde,9476111
4,ANABAC,P

[2017-01-26 00:51] alexandresobolevski opened #130 "Table names collide with the end of the drop down menu"
<img width="676" alt="screen shot 2017-01-25 at 7 50 32 pm" src="https://cloud.githubusercontent.com/assets/13302110/22315932/b33f96a0-e337-11e6-8c83-1e43cd12ed31.png">

[2017-01-30 16:27] alexandresobolevski opened #131 "Node warning `MaxListeners` when running the connector headless."
Ran `./dist/headless-bundle.js` on a production application. Coming back to my terminal saw the following warning.

```MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 exit listeners added. Use emitter.setMaxListeners() to increase limit```

[2017-02-06 21:44] alexandresobolevski opened #133 "The arrow is misaligned with the title."
In both cases the icon should be a little lower to be more aligned with the title.

![screen shot 2017-02-06 at 4 43 29 pm](https://cloud.githubusercontent.com/assets/13302110/22667593/6c368e5a-ec8b-11e6-9a77-cb46cb8a252e.png)
![screen shot 2017-02-06 at 4 42 49 pm](https://cloud.githubusercontent.com/assets/13302110/22667594/6c37d882-ec8b-11e6-8fc6-d65d4e206baa.png)

[2017-03-03 21:54] ArturoAguileraV opened #138 "MsSQL Express Compatibility"
I'd like to know if the Plotly Database Connector (when doing a MsSQL connection) supports a **MSSQL EXPRESS EDITION** database.

I tried to connect using the "sa" username and its password but nothing happened. It gives me the error:
**failed to connect to [hostname]:[PortNumber] - connect ECONNREFUSED [my IP address]:[PortNumber]**
This are my inputs:

- Username: **sa**
- Password: **mypassword

[2017-03-10 15:43] alexandresobolevski commented on #138
Hi! After some searching it seems the connector currently does not support MSSQL EXPRESS ([relevant sequelize issue](https://github.com/sequelize/sequelize/issues/3097#issuecomment-73798671)) but it would it should be an easy fix.

Relevant code in database-connector https://github.com/sequelize/sequelize/issues/3097#issuecomment-73798671
A new option 'instanceName' should be provided.

We welcome

[2017-03-14 21:32] ArturoAguileraV commented on #138
Forgive my ignorance but... I searched in all the project and I just don't get to know which path does contains the **sequelize** connector, also, I downloaded the project and just can't make it start (most of it because I don't even know how to do it).

Thanks for your attention! :)

[2017-03-15 02:35] alexandresobolevski commented on #138
Hey! Thanks you for getting your hands dirty :P

What did you try exactly to run it and how did it fail?

The following commands should get you up and running.

[code]

[2017-03-15 18:01] ArturoAguileraV commented on #138
Hey Alexandre! I'm happy to tell you that I got myself a big cup of coffee and finally found the file you kindly referenced to me, so, I made the changes in my application and it worked!

In my connection-manager.js which is located in _plotly-database-connector/resources/app/node_modules/sequelize/lib/dialects/mssql/connection-manager.js_ I just added **instanceName: 'SQLEXPRESS'** and everything

[2017-03-16 01:03] alexandresobolevski commented on #138
If you wish, you could create a branch in this repository and make a PR that would add that `instanceName` parameter as one of the inputs the user gives when he/she selects Microsoft SQL as the database to which it has to connect. This way others will only have to enter in the user interface without having to change the source code. I can help you with reviewing the PR. It should be quite simple.

[2017-03-16 15:30] ArturoAguileraV commented on #138
I just did it, I hope that's the correct way to do it.

I'd appreciate if you told me if i did it right or wrong :)

[2017-04-17 15:18] chriddyp opened #142 "Database timeout interrupt for MSSQL isn't configurable"
Each database has it's own time limit for how long a query can run. MSSQL in particular has a limit of 15 seconds:
![image](https://cloud.githubusercontent.com/assets/1280389/25094811/cff80dee-2366-11e7-9b11-8a5009995fa3.png)

[2017-04-17 20:02] #142 closed

[2017-05-03 17:04] BRONSOLO opened #145 "Need to allow for custom origins for On-Premise requests to the local connector"
Currently only select Plotly domains are allows:

https://github.com/plotly/plotly-database-connector/blob/abf60d3cf0da4b520737f85002751a0d538c3342/backend/settings.js#L26-L30

This issue is currently being hit by matthews@porch

cc @chriddyp @scjody

[2017-05-03 17:05] BRONSOLO commented on #145
![image](https://cloud.githubusercontent.com/assets/1909107/25672368/3696cd32-3001-11e7-938e-4ec5d11bde92.png)

[2017-05-03 17:08] BRONSOLO commented on #145
Apparently this can be configured via the Replicated YAML -- currently investigating!

[2017-05-04 14:00] BRONSOLO commented on #145
Modifying `~/.plotly/connector/settings.yaml` to include the line below solves the issue.

[code]

[2017-05-30 12:34] hemalshahporia opened #148 "Unable to connect as the connector's url is invalid. Please double check your url, then try reconnecting."
Till last week everything was working fine now suddenly i am getting this error.

[2017-05-30 12:39] #148 closed

[2017-06-05 19:23] chriddyp commented on #145
closed in the latest release

[2017-06-05 19:23] #145 closed

[2017-06-05 19:24] #133 closed

[2017-06-05 19:24] #131 closed

[2017-06-05 19:25] chriddyp commented on #51
Closed and available as part of version 2.0 https://github.com/plotly/plotly-database-connector/releases

[2017-06-05 19:25] #51 closed

[2017-06-05 19:25] #47 closed

[2017-06-05 19:26] chriddyp commented on #40
creating linux and windows builds natively on CircleCI and AppVeyor now

[2017-06-05 19:26] #40 closed

[2017-06-05 19:27] chriddyp commented on #129
closed until we can reproduce

[2017-06-05 19:27] #129 closed

[2017-06-05 19:27] #130 closed

[2017-06-19 21:10] alexcjohnson commented on #73
To clarify, depending on your security settings, you get a notice like this on Mac as well, and if you do it's even harder to get around than on Windows, as you have to figure out how to get the version of the dialog that even has the "run anyway" button.

Even better than just being registered, could we get this into the Apple and Windows App stores?

[2017-06-19 22:11] alexcjohnson opened #151 "Notes from a fresh install"
I just did a fresh install on my mac, keeping notes about ways to make the experience better. Just to keep track of them, here they are in order that I encountered them:

- [ ] I didn’t see a “copy to applications” link in the dmg, even though it's shown in the tutorial.
- [x] pages for individual databases from tutorial https://help.plot.ly/database-connectors/personal-login/ are broken (ie https

[2017-06-26 20:15] rachelruijiayang opened #152 "Windows installer .zip for V2.0.2 is invalid"
Hi, I tried to download and extract windows-plotly-database-connector.zip from https://github.com/plotly/plotly-database-connector/releases/tag/v2.0.2, but the .zip is invalid. Here is the error message I got:
![windows-invalid](https://user-images.githubusercontent.com/8990918/27558169-5d2ee4ee-5a8a-11e7-8d57-c1a14a2e9d6e.png)

Text: The Compressed (zipped) Folder ...windows-plotly-database-conne

[2017-06-26 21:04] chriddyp commented on #152
Thanks for reporting @rachelruijiayang ! I swore that this zip worked, so sorry about this. @bcdunbar - could you try this release download on your machine?

[2017-06-26 21:06] chriddyp commented on #152
@rachelruijiayang @bcdunbar - Here's a link to the generated app build: https://ci.appveyor.com/project/AppVeyorDashAdmin/plotly-database-connector/build/job/bkh14v8eiqorv68m/artifacts. I usually just upload that build to the releases page. Could one or both of you verify if the zip file at https://ci.appveyor.com/project/AppVeyorDashAdmin/plotly-database-connector/build/job/bkh14v8eiqorv68m/artif

[2017-06-26 21:09] bcdunbar commented on #152
It works but requires using 7zip or another file archiver to unzip.

[2017-06-27 02:26] rachelruijiayang commented on #152
Thanks @bcdunbar! I was able to extract the file using 7zip and run the DB connector.

However, now I am having problems with authentication; after entering my username and clicking "Authorize Connector", the authentication window gets stuck on the blank screen with URL `http://localhost:9494/oauth2/callback#access_token=[my_access_token]&token_type=Bearer&state=&expires_in=31622400&scope=read+wri

[2017-06-27 13:38] chriddyp commented on #152
Thanks for reporting @rachelruijiayang ! I'm not quite why the window isn't closing there. I suspect that the request finished correctly, it just didn't close the window. If you close and reopen the app, and re-enter your username, does it take you to the "Set Up Connections" screen?

[2017-06-27 16:52] rachelruijiayang commented on #152
Ah, so it turns out I spelled my username wrong in the video I linked, but I tried again with the right username and the authentication window still gets stuck on the blank screen.

I also downloaded the Linux DB Connector, which allows me to log in and get to the "Set Up Connections" screen.

Here are screenshots of network activity on the page after Cancel/Authorize
![linuxauthorize](https://use

[2017-07-26 00:09] larsnolden opened #153 "Linux Package"
I tried to install the database connector on Linux with the latest (2.0.2) zip package.
The install.sh fails on Kubuntu 16.04 with:
[code]

I guess fs.realpath is OS dependent and not applicable for linux?
It would be great to get some feedback on this!

[2017-08-21 18:33] probonopd opened #157 "Please provide an AppImage for download"
It is already configured:

https://github.com/plotly/plotly-database-connector/blob/0f4b4a1bc975df5c80443d07dafe1e25a848bba8/package.json#L79

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one

[2017-08-24 20:20] greenkeeper[bot] opened #159 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-08-29 15:39] bpostlethwaite opened #164 "Push to Heroku only after master tests passing"
Right now it pushes immediately on merge to master

cc @n-riesco @tarzzz @chriddyp

[2017-08-30 04:00] spuschel commented on #40
Hi, I'm trying to connect to Sqlite on mac osx with no luck. The message I'm getting in the Connector interface, tab "2. Preview" is

{"status":500,"content":{"error":{"message":"Please install sqlite3 package manually"}}}

Of course, sqlite3 is installed. Anyway, I get an SSL Certificate but when I access the online Graph maker it displays the message:

Any clues?

[2017-09-04 12:57] chriddyp commented on #164
Looks like this is currently set up
![image](https://user-images.githubusercontent.com/1280389/30027440-0236bf2a-914f-11e7-82d9-0393ed81746f.png)

[2017-09-04 12:57] #164 closed

[2017-09-04 14:12] n-riesco opened #170 "Test failure caused by a callback in `certificates.spec.js`"
@chriddyp I managed to reproduce this failure in master by adding a pause at the end of the tests in ``:

[code]

![image](https://user-images.githubusercontent.com/6199391/30030035-797eb68a-9183-11e7-9ad6-9642d835159c.png)

[2017-09-04 14:22] n-riesco commented on #170
No need to run all the unit tests. The failure also happens when testing `certificates.spec.js` alone:

![image](https://user-images.githubusercontent.com/6199391/30030364-cc3518f0-9184-11e7-9ce9-eaa62f10e2be.png)

[2017-09-05 16:03] #170 closed

[2017-09-22 15:09] Fishy49 opened #182 "Blank Grey Screen - Console Error - react-dd-menu"
After authenticating, the app shows a blank grey screen.

In the developer tools, I see:
"Uncaught Error: Cannot find module "react-dd-menu"

Running Windows 8.1 64x

![image](https://user-images.githubusercontent.com/5632528/30751133-10c890e4-9f7e-11e7-9251-9773e8c13ded.png)

[2017-09-25 19:11] jackparmer commented on #182
We're not using `react-dd-menu` anymore, I took it out here:
https://github.com/plotly/plotly-database-connector/commit/8597c9b8e6941a574d75a8fbea2aac19912b0d00
We'll have a new build in the next few days and hopefully that will fix this.

[2017-09-25 20:40] Fishy49 commented on #182
Fantastic, thanks for the response! Looking forward to trying this out.

[2017-09-25 20:52] jackparmer commented on #182
It's going to be worth the wait :) Huge update coming soon:

![big_app_screencast](https://user-images.githubusercontent.com/1865834/30830371-dadf68e0-a211-11e7-9ff8-fcda0c72bb4c.gif)

[2017-09-27 21:14] rflprr opened #186 "Support data.world as a datasource"
data.world would be a great general purpose, low entry barrier datasource for plot.ly.
It should be a very straightforward integration based on the implementation of existing data.world connectors for Tableau (https://github.com/datadotworld/tableau-connector) and Google Data Studio (https://github.com/datadotworld/data-studio-connector).

[2017-10-04 01:20] owensj8 commented on #182
I have the same issue. Is there an ETA on when the new build will be out? From what I can tell, this tool looks great. Thanks

[2017-10-06 00:09] jackparmer commented on #182
@owensj8 Hopefully next week

[2017-10-06 00:10] jackparmer commented on #151
These are pretty much all take care of now. You'll have to create a new list for next week's release @alexcjohnson :)

[2017-10-06 00:10] #151 closed

[2017-10-09 06:30] Saumya-Agrawal commented on #152
I have the same issue. After authentication I am directed to the same blank screen.

[2017-10-27 11:03] KasperKimose commented on #182
I have the same issue. Is the new build out? Thanks

[2017-10-27 12:34] adeleglise commented on #182
Hi, same issue here

[2017-10-27 21:47] bpostlethwaite commented on #186
That is a great idea, thanks for the feedback!

[2017-10-30 22:39] jackparmer commented on #182
@owensj8 @KasperKimose @adeleglise @Fishy49  You can download a prerelease with a fix here, please let us know if you have any issues:
https://github.com/plotly/falcon-sql-client/releases/tag/v2.3-pre

[2017-10-31 13:09] n-riesco commented on #153
You can download a prerelease with a fix here, please let us know if you have any issues:
https://github.com/plotly/falcon-sql-client/releases/tag/v2.3-pre

[2017-10-31 13:11] n-riesco commented on #152
@rachelruijiayang @Saumya-Agrawal  You can download a prerelease with a fix here, please let us know if you have any issues:
https://github.com/plotly/falcon-sql-client/releases/tag/v2.3-pre

[2017-10-31 13:17] n-riesco commented on #186
@rflprr I'm labelling this issue as `community`. I also think this is a good first contribution. If you feel like contributing, I can point you to the files that need changing and help through the process.

[2017-10-31 15:29] n-riesco commented on #138
@ArturoAguileraV The project has been quite since your last comment (sorry about that). But now a new version is about to be released that includes a fix for this issue. You can download a prerelease. Please, let us know if you have any issues:
https://github.com/plotly/falcon-sql-client/releases/tag/v2.3-pre

[2017-10-31 18:14] cldougl commented on #41
does anyone have any more info on this issue? I'm not seeing it with the [v2.3 release]()
but just want to make sure there weren't specific steps to reproduce? https://github.com/plotly/falcon-sql-client/releases/tag/v2.3-pre

[2017-10-31 22:27] chriddyp commented on #41
@cldougl - this refers to the SQLite connection which basically just loads a sqlite `.db` file from the file system. On Mac, clicking on the "path" setting should open up the native mac file explorer, allowing you to select a sqlite file from your filesystem. This wasn't working on Windows systems - the native windows file explorer didn't open. I'm not sure if this has been fixed or not.

[2017-10-31 22:42] cldougl commented on #41
Thanks for clarifying @chriddyp
Looks like this is still an issue, the windows file explorer opens but only folders are visible (not files i.e the .db files)
Here you should see a test.db file:

like you do on the mac:
<img width="1273" alt="screen shot 2017-10-31 at 6 40 19 pm" src="https://user-images.githubusercontent.com/2789078/32252297-2c45a3aa-be6b-11e7-8ae0-9289bac387c0.png">

[2017-11-02 16:33] n-riesco commented on #182
Fixed in https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.2

[2017-11-02 16:33] #182 closed

[2017-11-02 16:33] n-riesco commented on #153
Fixed in https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.2

[2017-11-02 16:33] #153 closed

[2017-11-02 16:33] n-riesco commented on #152
Fixed in https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.2

[2017-11-02 16:33] #152 closed

[2017-11-02 16:34] n-riesco commented on #138
Fixed in https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.2

[2017-11-02 16:34] #138 closed

[2017-11-08 21:12] snooc opened #224 "Postgres only supports public schema"
The queries for Postgres tables limits to only the public schema.

- https://github.com/plotly/falcon-sql-client/blob/master/backend/persistent/datastores/Sql.js#L36
- https://github.com/plotly/falcon-sql-client/blob/master/backend/persistent/datastores/Sql.js#L169

I'm open to create a PR, but my attempts to run the application locally have been unsuccessful because of OAuth issues when connectin

[2017-11-09 00:13] n-riesco commented on #224
Could you open an issue for the problem you see connecting to plotly cloud?
I'm now looking into https://github.com/plotly/falcon-sql-client/blob/master/backend/plugins/authorization.js and I may be able to help.

[2017-11-09 13:27] snooc opened #227 "Unable to Authorize with Plotly Cloud"
When running falcon in the docker container, the OAuth callback fails with "Error: Please login to access this page."

Relevant logs:

[code]

Screenshot of error:

![screen shot 2017-11-09 at 8 23 50 am](https://user-images.githubusercontent.com/547505/32607612-9aedf6dc-c527-11e7-8409-45e3097ed0eb.png)

[2017-11-09 13:28] snooc commented on #224
Thanks @n-riesco. I filed https://github.com/plotly/falcon-sql-client/issues/227. I think that may be the issue that I am seeing.

[2017-11-09 15:18] tarzzz commented on #227
This shall be fixed in PR: #223
specifically [this commit](https://github.com/plotly/falcon-sql-client/pull/223/commits/1dfc85cdd5b5a22a4d9fc992919fd18f513b3c5b)

[2017-11-09 21:53] scjody opened #228 "Make test databases obvious that they're test databases"
We received 3 reports of publicly accessible databases today, all referencing databases found in https://github.com/plotly/falcon-sql-client/blob/master/sample-storage/connections.yaml .  I'm not sure why this is happening today but I suspect we've been indexed by a vulnerability search engine.

In order to stop people from reporting this issue, I've added it to our policy and scope document but n

[2017-11-10 05:15] jingle0927 opened #230 "Linux Support"

[2017-11-10 07:42] n-riesco commented on #230
@jingle0927 `falcon-sql-client` supports Linux, Mac and Windows. Please, find our latest release here: https://github.com/plotly/falcon-sql-client/releases .

[2017-11-10 07:45] n-riesco opened #231 "Add installation instructions to README.md"
- [ ] include link to latest release
- [ ] state Linux, Mac and Windows are supported

[2017-11-10 08:01] n-riesco commented on #227
@tarzzz One question: can we fix the issue here just by pushing the commit https://github.com/plotly/falcon-sql-client/pull/223/commits/1dfc85cdd5b5a22a4d9fc992919fd18f513b3c5b
 into master? or we actually need the whole #223 ?

If https://github.com/plotly/falcon-sql-client/pull/223/commits/1dfc85cdd5b5a22a4d9fc992919fd18f513b3c5b fixes the issue here, why don't we open a PR only with this commit

[2017-11-10 10:01] tarzzz commented on #227
Yes, I am going to push a separate PR with just the commit(s) required to
fix the issue today.

On Friday, November 10, 2017, Nicolas Riesco <notifications@github.com>
wrote:

commit 1dfc85c

commit and merge it into master straight away? In this way, we could take
on @snooc 's offer to create a PR for #224.

https://ci3.googleusercontent.com/proxy/cLkw91GwvhzjswWJg19HUNBMJAfC1FMoesSxx0KPObAdXAnhg

[2017-11-13 14:17] snooc commented on #227
Using @tarzzz's fix-authorization branch, I am now seeing a different error:

`Error: User myusername is not allowed to view this app`

[2017-11-13 14:29] tarzzz commented on #227
@snooc: Yes, that is a valid error. The server version only allows whitelisted users to authenticate to db connector (For security reasons).

You need to add the following lines to your `settings.yaml`:

[code]

Alternatively, you can set an environment variable for your docker container containing whitelisted users:
`PLOTLY_CONNECTOR_ALLOWED_USERS` with values as: `yourUsername,YourOtherUsername`

[2017-11-13 15:00] snooc commented on #227
Thanks.

After setting `PLOTLY_CONNECTOR_ALLOWED_USERS=myusername` I am able to get past the authorization process, but after authorization succeeds, localhost:9494 is always the login screen. Are there any other configuration options that I may be missing?

I am using the following command to start the container. The container that I am user is build using the fix-authentication branch.

```docke

[2017-11-13 15:07] tarzzz commented on #227
Can you please  try:

  - Refreshing the `localhost:9494` to see if you see the connections.
  - Send a screenshot of cookies being set (Using a browser cookie manager) on `localhost` after authentication part is successful?

Ah one more thing. since you are running it locally, you also needs to set env variable: `PLOTLY_CONNECTOR_SSL_ENABLED=false` in your docker run command -- because by default

[2017-11-13 15:15] n-riesco commented on #227
@tarzzz I think what @snooc is seeing is caused by the RegExp issue you told me on slack.

@snooc If possible, could you do `git checkout 3201a0dad9fe1f81b269259cb8b247bfaf72f4b4`? This should land you on a commit before the issue with RegExp was introduced.

[2017-11-13 15:36] snooc commented on #227
Setting `PLOTLY_CONNECTOR_SSL_ENABLED=false` fixed the issue that I was seeing.

Should I be able to connect to Plot.ly? The generating certificates stages seems to be failing or taking a lot longer than I expect. It's been about 20+ minutes. I see no logs reporting a failure.

[2017-11-13 16:17] n-riesco opened #237 "Report to user when we failed to create a certificate"
From https://github.com/plotly/falcon-sql-client/issues/227#issuecomment-343956937

[2017-11-13 16:18] n-riesco commented on #227
Yes, in my experience they can take a long time, but once generated they are saved so that future sessions don't need to generate them again (unless they expire).

Logs are stored in `~/.plotly/connector/log.log`.

I've had a quick look through the code and if I understood correctly Falcon:
- tries 5 times to create a certificate
- if unable to generate the certificate, then an error is logged in

[2017-11-13 16:28] tarzzz commented on #227
Yes.. you dont require certificates for server version. It is only meant for standalone electron apps.

[2017-11-13 17:12] n-riesco opened #239 "Add oauth2 integration tests"
We need tests to catch issues like #227

[2017-11-13 20:21] #230 closed

[2017-11-13 22:04] OmaymaS opened #240 "[Link Broken] Download Falcon for Windows"
[Download Falcon for Windows](https://github.com/plotly/falcon-sql-client/blob/master/plot.ly/free-sql-client-download) in README.md is broken. It leads to nothing.

[2017-11-13 23:12] RCura commented on #14
Note that on windows, you can only choose a folder, i.e. not the sqlite file in itself. And then, of course, it doesn't work as Falcon can't open the DB.

[2017-11-13 23:14] RCura commented on #126
On windows, using v2.3.2, the zip still isn't correct : some of the archived paths are too long, and 7zip/windows native explorer can't unzip those.

[2017-11-13 23:47] n-riesco commented on #126
@RCura Thank you for reporting this. It looks like we've lost the windows installer somewhere between v1 and v2.

[2017-11-13 23:51] johnmyleswhite opened #241 "Don't grey out `*.sqlite*` paths"
In the "Path to SQLite File" window, files that end in `.db` are not greyed out and can be clicked on. Files that end in `.sqlite` or `.sqlite3` are greyed out and can't be clicked on. See https://stackoverflow.com/questions/808499/what-is-the-best-extension-name-sqlite-database-files for examples of the other file extensions.

[2017-11-14 00:01] n-riesco commented on #240
Both Windows and Mac links are broken.

Here's the link for windows https://github.com/plotly/falcon-sql-client/releases/download/v2.3.2/windows-falcon-sql-client.zip .

It also looks like we've lost the windows installer somewhere between v1 and v2. Until we restore it, you'll need to install [7-Zip](http://www.7-zip.org/) to unzip the file above and find Falcon's executable in folder `/release/W

[2017-11-14 00:07] n-riesco commented on #241
@johnmyleswhite Thank you for the report. It looks like Chris already has a fix for it. We'll merge the PR as soon as we have it tested.

[2017-11-14 00:08] n-riesco commented on #241
Related #41

[2017-11-14 00:09] n-riesco commented on #240
Related #126

[2017-11-14 00:16] jackparmer commented on #240
Whoops, sorry guys. Fixed the links in the README: https://github.com/plotly/falcon-sql-client/commit/b7881d336510ca6f9ebd41cd618d6eb592ea286a

[2017-11-14 00:16] #240 closed

[2017-11-14 00:50] jkornblum opened #243 "Crash on startup - Windows 7"
I downloaded file from the link [here](https://plot.ly/free-sql-client-download/)
I unzipped, navigated to .exe, and opened it.

I get this error
![falcon-err](https://user-images.githubusercontent.com/5368903/32757081-3b748796-c8a3-11e7-85e3-80f0e723811a.png)

This process also differs from the [docs ](https://help.plot.ly/database-connectors/personal-login/#step-3-install-the-app-windows) which

[2017-11-14 08:59] n-riesco commented on #243
It looks like the zip file wasn't unzipped fully.

[2017-11-14 09:08] n-riesco commented on #243
It looks like the zip file wasn't unzipped fully (this is a know issue #126). You need to install [7-zip](http://www.7-zip.org/).

Please, let us know if using 7-zip to unzip [windows-falcon-sql-client.zip](https://github.com/plotly/falcon-sql-client/releases/download/v2.3.2/windows-falcon-sql-client.zip] works for you.

[2017-11-14 09:15] n-riesco opened #244 "Restore .exe installer for Windows"
Somewhere between v1 and v2 we stopped distributing the `.exe` installer for Windows.
It looks like this installer used to be created locally, because the script to create installer hasn't been committed to the repository.

[2017-11-14 11:55] mattarderne opened #245 "JDBC driver"
Support for a generic JDBC driver would be incredibly useful.
I'm not sure how feasible this would be?

[2017-11-14 12:34] n-riesco commented on #245
It's doable, but as far as I know, there is no self-contained package distributed in `npm`.

I looked into this at the time I wrote a [connector](https://github.com/n-riesco/plotly-database-connector/tree/beeline) based on [beeline](https://cwiki.apache.org/confluence/display/Hive/HiveServer2+Clients#HiveServer2Clients-Beeline–CommandLineShell)  (this beeline-based connector isn't currently distri

[2017-11-14 12:52] aaronfowles opened #246 "Tables within schema not visible in side-panel when using Redshift as a data source"
Tables within a schema other than public are not visible in Query side-panel when using Redshift as a data source. However, tables within schemas other than public are queryable if the user knows the name of the table(s) beforehand.

[2017-11-14 13:28] n-riesco commented on #246
@aaronfowles That's the intended behaviour. What would be the use-case for querying non-public tables?

@jackparmer Is this something we want to support?

[2017-11-14 13:52] aaronfowles commented on #246
@n-riesco You don't want to support the following use-case?

`SELECT * FROM app_one_schema.sessions;`
`SELECT * FROM app_two_schema.sessions;`

Where `app_one_schema` has been created to allow for seperation (perhaps I have multiple apps who share the same business data model but I want to seperate their data into different schemas.)

Falcon looks like a great tool but I'd need to stick with my cu

[2017-11-14 14:16] n-riesco commented on #246
@aaronfowles Oh I completely misunderstood you. What you're requesting is the ability to set a schema, isn't it?

Yes, this is doable. In fact, we are already planning to implement the same feature for Postgres. See #224 .

[2017-11-14 14:21] aaronfowles commented on #246
@n-riesco Ah, yes - that functionality would be great. I'm now following #224 so will keep an eye on the outcome of that. Thanks!

[2017-11-14 15:59] alexander-daniel opened #247 "v1.7.8 on MacOS: Unable to start application, hangs on verification from system"
Looks awesome, can't wait to try it!

I dragged the application to my `Applications` folder after unzipping. When I tried to open Falcon, it just hangs at the following:
![screen shot 2017-11-14 at 10 56 54 am](https://user-images.githubusercontent.com/5408720/32789789-b1cc5eaa-c92a-11e7-9a28-61dd5f9847cb.png)

Thanks!

[2017-11-14 16:26] seanmalone3 opened #248 "macOS 10.12.5 run button obscured when scroll bar present"
![image](https://user-images.githubusercontent.com/28377652/32791214-7c9d6cf2-c92e-11e7-8305-1cdb1ecf8aee.png)

No clicka da run button

[2017-11-14 16:48] n-riesco commented on #247
v1.7.8 isn't the latest version.
Have you tried the latest release, [v2.3.2](https://github.com/plotly/falcon-sql-client/releases/download/v2.3.2/mac-falcon-sql-client.zip)?

[2017-11-14 16:51] n-riesco commented on #248
Thank you for opening an issue.
I also find this rather annoying (I should've opened an issue myself).

[2017-11-14 19:15] alexander-daniel commented on #247
Thanks for the quick reply @n-riesco

So I clicked the "Download for Mac" button on the falcon homepage
![screen shot 2017-11-14 at 2 13 45 pm](https://user-images.githubusercontent.com/5408720/32799537-106d5796-c946-11e7-9be9-b40ca0d8d4f7.png)

That links to what appears to be the proper release link on github for `2.3.2`
`https://github.com/plotly/falcon-sql-client/releases/download/v2.3.2/mac-f

[2017-11-14 22:49] n-riesco opened #251 "Wrong version file in linux, windows and mac installers"
See https://github.com/plotly/falcon-sql-client/issues/247#issuecomment-344366362

[2017-11-14 23:12] n-riesco opened #252 "redshift: surround table name with quote marks"
See #250 and http://docs.aws.amazon.com/redshift/latest/dg/r_names.html

[2017-11-15 00:13] #241 closed

[2017-11-15 06:15] n-riesco commented on #41
Closed #41 via #242.

[2017-11-15 06:15] #41 closed

[2017-11-15 12:29] n-riesco opened #254 "Don't skip Redshift tests in routes.spec.js"

[2017-11-15 14:32] n-riesco opened #255 "[TEST] Don't skip Impala tests in routes.spec.js"

[2017-11-15 17:44] n-riesco commented on #224
@snooc I fixed this issue for Redshift in PR #256, but as the same solution is valid for Postgres, I've also fixed it for Postgres.

[2017-11-15 19:34] miahnelson opened #257 "Memory leak if user not logged to Plotly"
When using the query editor in Windows 10 against SQL server 2008 and 2012, the query editor becomes extremely slow. At times taking up to ten seconds to update after typing a single character.

[2017-11-15 19:46] n-riesco commented on #257
To help me debug this issue, I'd a way reproduce this issue.
Could you find a sample text that makes the query editor laggy?

[2017-11-15 21:11] miahnelson commented on #257
Any and all text makes it lag. Just typing SELECT makes it lag. As an example. I just opened Falcon and Typed SELECT and it took several seconds before anything text appeared in the editor.

As an example of a query I ran.
SELECT Activitycode, depthin, depthout, cumhours, WOB
FROM DDBActivityCorrected
Where WOB < 100 AND (Activitycode = 'ROT' or ActivityCode = 'SLID') as

[2017-11-15 21:55] n-riesco commented on #257
Does it happen from the start?

Does the database have many tables and columns?

[2017-11-16 00:49] miahnelson commented on #257
The primary database I was using has 15 tables, column count ranging from 3 to 34. It does seem to work fine for about 10 to 30 seconds before the lagging text issue begins.

One additional piece of info. I went to check the table column/count and I had left Falcon running. Windows was giving me low memory errors. Task manager reported that Falcon was using 9 of 16gb's of ram.

[2017-11-16 00:54] miahnelson commented on #257
Additional system info
Dell 7710
Win 10 x64
16gb ram
512gb ssd boot drive
1tb data drive
Primary test database was a local instance of SQL server 2012 x64

I was running behind a corporate firewall. Does Falcon communicate with Plotly cloud during the SQL query phase of the process, and if so could the firewall potentially be the issue?

[2017-11-16 07:45] n-riesco opened #258 "Move large datasets in specs into a separate file"
See https://github.com/plotly/falcon-sql-client/pull/256#pullrequestreview-77014393 .

[2017-11-17 17:24] n-riesco commented on #257
Yes, at the moment it does. Falcon used to be known as plotly-database-connector and it can be used to query a database and export the results to Plotly cloud.

Also, when you start Falcon, if you log into Plotly, Falcon will try to generate an SSL certificate using Let's encrypt to be used between Falcon's frontend and its backend.

I'm copying below the relevant questions from Falcon FAQ tab:

[

[2017-11-17 18:46] n-riesco commented on #257
@miahnelson A few more questions:
- Are you using master or v2.3.2 of Falcon?
- When you click on the Plot.ly tab, what do you see?

[2017-11-17 21:36] n-riesco opened #260 "oauth redirection broken in web app"
After the user is authorised and popup window closes, the main window remains in login page.

![peek 2017-11-17 20-57](https://user-images.githubusercontent.com/6199391/32968707-1439f6e0-cbda-11e7-9abb-42eaaacb2fb3.gif)

[2017-11-17 23:25] scjody commented on #228
We now own `plotly.host`, including `test.plotly.host`. DNS entries for the databases could be added under there.

[2017-11-19 15:33] nzoschke opened #261 "Athena database connector"
[AWS Athena](https://aws.amazon.com/athena/) would be a nice addition to the supported databases. Athena is a managed service that enables making SQL queries to data stored in S3. Under the hood it uses [Presto](https://prestodb.io/).

You can [connect to Athena with JDBC or ODBC drivers](http://docs.aws.amazon.com/athena/latest/ug/athena-bi-tools-jdbc-odbc.html) so maybe #245 would get us there.

[2017-11-19 15:40] nzoschke commented on #261
In looking at the code it seems like using the Athena API via the AWS SDK might be the easiest as it should be possible implement `connect`, `query`, etc. through the API.

[2017-11-19 20:50] n-riesco opened #262 "test failure in QueryScheduler.spec.js"
[code]

[2017-11-19 21:01] n-riesco commented on #262
Needs a pause after resetting the grid and before verifying the grid has reset: https://github.com/plotly/falcon-sql-client/blob/be10f33e7a19ad17916e6d793d37cac6345f9241/test/backend/QueryScheduler.spec.js#L266

[2017-11-19 21:04] n-riesco opened #263 "explore use of `yarn autoclean`"
https://yarnpkg.com/lang/en/docs/cli/autoclean/

[2017-11-20 08:14] mikebilon opened #264 "Postgres On Connect Query Freeze"
I just noticed that after connecting to a postgres db (9.5), Falcon runs a select query on the first available table. Apparently, if the query encounters an error, in my case the table was case sensitive (It was created for debugging), the query window can't run any query anymore and seems like it freezes.

Hope it helps making your product better. :)

[2017-11-20 08:59] n-riesco opened #265 "test timeout in PlotlyAPI.spec.js"
Increase default timeout to 90s

[2017-11-20 09:03] n-riesco commented on #264
Thanks for reporting this issue.

The issue with case-sensitive names is already fixed in master for Postgres, and for Redshift in PR #256.

PR #256 will also bring the ability to access tables in schemas other than public.

I'm going to keep this issue open to remind me look at the UI freeze.

[2017-11-20 09:16] n-riesco commented on #261
I can't thank you enough for all the links!

I also think the Athena API is the way to go (the other options require distributing binaries and this increases noticeably the size of Falcon itself).

I'm planning to write a wiki page describing what's needed to integrate a DB connector into Falcon. At the moment the relevant code is spread across several files.

[2017-11-20 09:18] n-riesco opened #266 "Write a wiki page describing what's needed to integrate a DB connector into Falcon"
Relevant to:
- #186 data.world
- #261 athena
- #297 firebird
- #302 dynamoDB
- #322 oracleDB
- #344 VerticaDB

[2017-11-20 09:57] #254 closed

[2017-11-20 09:57] #224 closed

[2017-11-20 09:57] #246 closed

[2017-11-20 09:57] #252 closed

[2017-11-20 11:34] n-riesco commented on #40
@spuschel @webdog Are you still unable to use sqlite with our latest release? If so, please, open a new issue.

[2017-11-20 14:24] #265 closed

[2017-11-20 14:24] #262 closed

[2017-11-20 15:13] n-riesco opened #269 "test failure in routes.spec.js while setting oauth cookies"
[code]

https://github.com/plotly/falcon-sql-client/blob/0d0c41bbf715f4bd551f8e7b32267ab93ef14085/test/backend/routes.spec.js#L439-L442

[2017-11-20 16:13] nzoschke commented on #261
Thanks for the feedback. API route it is.

Yes, with some better guidance or docs I would take a crack at this myself.

In addition to the database connector I haven’t figured out how to build the app from source on Mac. Are there some docs on that I’m missing?

[2017-11-20 16:18] n-riesco commented on #261
The only docs we've got at the moment is in https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md

For mac, you can build and run the desktop app like this:
[code]

[2017-11-20 16:19] nzoschke commented on #261
Ok I missed that doc. Thank you for the pointer

[2017-11-20 16:31] n-riesco commented on #261
I will document this at some point, but here's a list of files and folders that may need updating to implement a new connector:
- `backend/persistent/datastores/Datastores.js`
- `app/constants/constants.js`
- `app/images`
- `app/actions/sessions.js`
- `app/components/Settings/Tabs/Tab.react.js`
- `app/components/Settings/Settings.react.js`

BTW, I've also noticed that the [S3 connector](https://gi

[2017-11-20 18:25] joaoplm opened #271 "Using R functions/packages in a query"
Hi, I was just thinking, there is a way to use the R functions from R packages when writing a query?

For exemple I want to do this:   Select cor(T.a,T.b,T.c) from table as T

Where cor() is the correlation function from R, and T.a, T.b, T.c are numeric columns in the table.

In SQL we already have AVG(), MIN(), MAX().  I want to use the R functions like cor()

Whatt you think?

[2017-11-20 20:27] jackparmer commented on #271
Hi @joaoplm , Falcon will probably never support an R kernel unfortunately.

I recommend running R in [nteract](https://nteract.io/) and query MySQL from there, see https://moderndata.plot.ly/connecting-r-to-mysql-mariadb/ for example

[2017-11-20 20:27] #271 closed

[2017-11-20 21:03] n-riesco opened #272 "test failure in Plotly.spec.js"
A [1-second wait](https://github.com/plotly/falcon-sql-client/blob/0d0c41bbf715f4bd551f8e7b32267ab93ef14085/test/backend/PlotlyAPI.spec.js#L46) isn't enough to ensure `updateGrid` has completed.

[code]

[2017-11-21 03:09] gnumoksha commented on #230
@n-riesco  The homepage says: "Free, open-source SQL client for Windows and Mac"

[2017-11-21 09:42] Simobain opened #273 "Connecting to postgresql with a table that have a capital letter in it make Falcon crash"
I have a table "Capitalize". The automatic request fails because it does not use the " around table name.
After that i'm not able to run another query.

[2017-11-21 09:47] n-riesco commented on #273
This is already fixed in master. Here's the instructions to build master, if you'd like to try (requires `node@6` and `yarn@1`):

[code]

[2017-11-21 09:47] #273 closed

[2017-11-21 16:58] aaronfowles opened #274 "Run button unclickable on SQL editor for queries longer than 10 lines"
OS: Mac OS X Sierra v10.12.4
Client: v2.3.2

[2017-11-22 07:36] n-riesco opened #275 "test failure in routes.spec.js while testing oauth2"
Needs better logging:
* check response of `oauth2` before requestting `settings`.
* log status code and error message
* make error message for 401 case more informative (i.e. is it missing Plotly's token? or the request to `/v2/users/current` failed?)

[code]

https://github.com/plotly/falcon-sql-client/blob/0d0c41bbf715f4bd551f8e7b32267ab93ef14085/test/backend/routes.spec.js#L259-L267

[2017-11-22 14:51] n-riesco opened #276 "test failure in QueryScheduler.spec.js"
Check response status before attempting to parse body.

[code]

https://github.com/plotly/falcon-sql-client/blob/0d0c41bbf715f4bd551f8e7b32267ab93ef14085/test/backend/QueryScheduler.spec.js#L227-L229

[2017-11-22 22:07] chriddyp commented on #261
Also see https://github.com/plotly/falcon-sql-client/pull/203/files for an example of a PR that introduced a new data connector (Imapala) within the last couple of months.

[2017-11-24 14:23] michaelschoellhammer commented on #247
i have the same issue. how can i get the latest release?

[2017-11-24 15:12] n-riesco commented on #247
PR #277 is addressing this issue. We can update the installers once it gets merged.

If you are familiar with Node.js development, these are the instructions to build the app:
[code]
and to launch the app:
[code]

[2017-11-25 16:16] n-riesco opened #280 "SQLite database file selector stil broken (tested on windows and linux)"

[2017-11-27 17:53] #280 closed

[2017-11-27 20:51] n-riesco opened #282 "sqlite: database preview doesn't show the database name"
![pasted image at 2017_11_27 03_43 pm](https://user-images.githubusercontent.com/6199391/33288595-c0f57788-d3b4-11e7-8b85-4d139bd9ddc6.png)

[2017-11-27 20:54] n-riesco opened #283 "table preview shows 1000 rows, whereas sample query requests only 10 rows"
![image 1](https://user-images.githubusercontent.com/6199391/33288693-0e619f4c-d3b5-11e7-875e-72c96e534e35.png)

[2017-11-27 21:03] chriddyp commented on #283
and i actually only noticed this for SQLite, did not see this happen for IBMDB2

[2017-11-27 21:28] n-riesco commented on #283
I think this is just a mismatch between https://github.com/plotly/falcon-sql-client/blob/42f07a27fe42b10bfb576d4761c2825c72566ff0/app/actions/sessions.js#L359-L386 and the code that sets the sample query.

[2017-11-28 05:24] rflprr commented on #186
Hi, @n-riesco. We would like to contribute and could start as early as this week. What's the best way for us to get started?

[2017-11-28 09:34] n-riesco commented on #186
@rflprr

First of all, you need to set up your dev machine:
- install Node.js v6
- install yarn v1
- clone Falcon's repository, build and run:
[code]
Once the dev machine is setup. Here's a list of files you need to look at to add a new connector:
- `backend/persistent/datastores/Datastores.js`
- `app/constants/constants.js`
- `app/images`
- `app/actions/sessions.js`
- `app/components/Settings/Tab

[2017-11-28 09:35] n-riesco commented on #266
See https://github.com/plotly/falcon-sql-client/issues/186#issuecomment-347465559

[2017-11-29 09:51] n-riesco opened #285 "test failure in routes.spec.js (oauth API)"
One of the first bug catches thanks to PR #284:

- If `/v2/users/current` fetch doesn't succeed (status 200), then [here](https://github.com/plotly/falcon-sql-client/blob/d470cbcbd075214c6079f5606a33eda60d2c27fd/backend/plugins/authorization.js#L60) body can't be parsed as JSON.

Log from CircleCI

[code]

[2017-11-29 18:14] #269 closed

[2017-11-29 18:14] #275 closed

[2017-11-29 18:14] #276 closed

[2017-11-29 18:23] #159 closed

[2017-11-29 19:42] n-riesco commented on #227
Closed via #236 and #253

[2017-11-29 19:42] #227 closed

[2017-11-30 07:19] n-riesco opened #287 "Document location of log file"
@tarzzz @jackparmer  @chriddyp How about having a widget to display the log entries under the FAQ tab?

[2017-11-30 07:40] jackparmer commented on #287
👍 sounds great to me
Basically impossible for lay users to efficiently report bugs otherwise

On Thu, Nov 30, 2017 at 2:27 AM, Nicolas Riesco <notifications@github.com>
wrote:

[2017-11-30 16:59] n-riesco opened #289 "test failure in QueryScheduler.spec.js (race condition)"
Test failed because Plotly took more than 1/2 the refresh interval to respond.

We need to rethink how to test the query scheduler to account for responses slower than the refresh interval.

From CircleCI
[code]

This is the relevant code: https://github.com/plotly/falcon-sql-client/blob/cc0b7c3339cc1e67116e81bcc90953c23084c83d/test/backend/QueryScheduler.spec.js#L286-L306

[2017-11-30 17:05] #248 closed

[2017-11-30 17:05] #274 closed

[2017-11-30 17:53] n-riesco opened #290 "test failure due to `The server encountered a temporary error and could not complete your request.<p>Please try again in 30 seconds.`"
**For the record:** sometimes a PR fails to build in CircleCI because of a temporary server error while making requests to Plotly.

When this happens, I will trigger a rebuild.

From CircleCI

[code]

[2017-12-01 00:02] scjody opened #291 "Docker build broken"
The Docker build for this repo has been broken since https://github.com/plotly/falcon-sql-client/pull/277 was merged last Friday.

You can see Docker build status here: https://quay.io/repository/plotly/falcon-sql-client?tab=builds (a build is triggered on each push), or run `docker build .` in the top directory of the project regularly. If this is too much to deal with, I suggest integrating some

[2017-12-01 10:03] n-riesco commented on #291
@scjody Fixed in https://github.com/plotly/falcon-sql-client/pull/292

BTW, although I can open https://quay.io/repository/plotly/falcon-sql-client?tab=builds , I'm denied access when I click on a particular build.

I see difficulties with the integration of `docker build` into our PR builds using either of the options suggested, `quayd` or `CircleCI`:
- running `docker build` on `CircleCI` would

[2017-12-01 10:41] #291 closed

[2017-12-01 16:08] scjody commented on #291
(I am dealing with the Quay access issue by private message on Slack.)

@n-riesco Thanks for fixing this!

Re: `docker build` on CircleCI, you can do this in parallel with the rest of the tests. Take a look at what we're doing for in https://github.com/plotly/image-exporter .

It does look like `quayd` requires a server, but those are pretty cheap these days. We have quite a few things deployed on

[2017-12-01 16:14] n-riesco opened #295 "Enable quayd"
See #291 (https://github.com/plotly/falcon-sql-client/issues/291#issue-278313252 and  https://github.com/plotly/falcon-sql-client/issues/291#issuecomment-348535135 ).

[2017-12-04 04:12] leo459028 opened #297 "Hope to support Firebird . Tks！"

[2017-12-04 12:22] n-riesco commented on #297
I think this one is easily doable. A quick search shows there is already a pure Javascript client for Firebird:
    https://www.npmjs.com/package/node-firebird

I'm going to label this one are `community` and `good first issue`.

---

Related:
- http://www.firebirdsql.org/
- https://github.com/FirebirdSQL/firebird
- https://www.npmjs.com/package/node-firebird
- https://www.npmjs.com/package/firebi

[2017-12-04 12:47] n-riesco opened #299 "[MSSQL] Status: 400 Error: Incorrect syntax near ..."
Reported at the forum: https://community.plot.ly/t/error-400-mssql-db-query/7124
Possibly related: https://community.plot.ly/t/error-once-i-am-connected-to-my-azure-sql-database/6799/4

Potential leads:
- I'm guessing we may be making a mistake when we create the client [here](https://github.com/plotly/falcon-sql-client/blob/9e51ac31ab8e87d7dc55966318c713422bbc51c0/backend/persistent/datastores/Sq

[2017-12-04 13:54] n-riesco commented on #257
@miahnelson I haven't been able to reproduce this issue in our latest [pre-release](https://github.com/plotly/falcon-sql-client/releases/download/v2.3.3-beta1/win-falcon-v2.3.3-beta1.zip).

I'm going to assume the latest oauth changes have solved the issue. But, please, feel free to reopen it.

Although we've also made some changes to the code editor, and performance has improved, there is still a

[2017-12-04 13:54] #257 closed

[2017-12-04 16:54] jnoynaert opened #300 "Able to login in using ActiveDirectory (windows authentication)?"
At first glance it doesn't look like Falcon supports connecting to MS Sql Server using activedirectory authentication, only an actual sql login--is this correct?

[2017-12-04 19:45] n-riesco commented on #300
Judging by this PR https://github.com/tediousjs/tedious/pull/497 it looks like this is possible (although only on Windows machines and using a native module).

I'm going to mark this issue as an `enhancement`, but I feel hesitant to mark this issue as `community` because:
- it requires the native module https://www.npmjs.com/package/sspi-client (the PR above mentions that this is a native module f

[2017-12-05 14:55] vscharfkatz opened #302 "Connector for DynamoDB"
DynamoDB is a widely use NoSQL environment where data is stored. We suggest to build a connector allowing to connect Plotly to DynamoDB

[2017-12-07 09:58] n-riesco commented on #126
Closed via https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.3-beta1

[2017-12-07 09:58] #126 closed

[2017-12-07 10:03] n-riesco commented on #243
Closed via https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.3-beta1

[2017-12-07 10:03] #243 closed

[2017-12-07 10:04] n-riesco commented on #244
Closed via https://github.com/plotly/falcon-sql-client/releases/tag/v2.3.3-beta1

[2017-12-07 10:04] #244 closed

[2017-12-07 10:06] n-riesco commented on #251
https://github.com/plotly/falcon-sql-client/issues/260

[2017-12-07 10:06] #251 closed

[2017-12-07 17:51] #283 closed

[2017-12-07 22:20] #282 closed

[2017-12-08 15:08] tarzzz commented on #260
@n-riesco Need some info regarding this:

  - What is the setting `SSL_ENABLED` here? Or `PLOTLY_CONNECTOR_SSL_ENABLED` ..
  - Can you please send the cookies set on `localhost` ..

For localhost, I would recommend starting docker container with `PLOTLY_CONNECTOR_SSL_ENABLED=false` and see if login works.

In any case, this is not a blocker for on-prem, because login works on-prem on the latest bu

[2017-12-08 15:54] tarzzz opened #306 "Unable to login to on-prem from electron app/headless version"
@n-riesco @chriddyp Stuck in a deadlock situation for On Prem login from Falcon.

**To Clarify**: This issue is **not** valid for the version we ship with On Prem. This is because we control the environment variables on On Prem.

Explanation:

  - Open the electron app or web app. Try to login to an on-prem installation.
  - It tries to check the username against `PLOTLY_API_URL` and fails because

[2017-12-08 16:17] chriddyp commented on #306
👍

[2017-12-08 16:24] n-riesco commented on #306
@tarzzz How about passing `PLOTLY_API_URL` in oauth callback?

[2017-12-08 17:28] scjody commented on #260
Agreed: as long as login works in On-Prem this isn't a release blocker for On-Prem.

@tarzzz If you become aware of any login issues that affect On-Prem, please log an issue in the 2.3.0 milestone of streambed (and also here if that's appropriate).

[2017-12-11 01:24] shannonlal opened #307 "Building from Source on Mac"
I am running into an issue trying to build the application from source on a mac.  Here is my current Mac environment details:

# Environment Variables
yarn: v1.3.2
node: v6.11.5
npm: 3.10.10
Mac Build: 10.13.1

I have tried building from master and branch 2.2-release and I am getting similar problems.  The following are the instructions I am using for building from source.   This was defined in is

[2017-12-11 01:26] shannonlal commented on #261
Were you able to get the latest build environment to build from source @nzoschke?  I noticed above you said that you had a problem and I wanted to see if you were able to get it to build from source.  I am currently having an issue and wanted to see if anyone is running into the same issue.

[2017-12-11 07:22] n-riesco commented on #307
I'm marking this bug as `documentation` to remind me update https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md .

The build instructions depend on whether you want build the desktop or the web app. The issue you're seeing happens because `yarn run rebuild:modules:electron` builds the native modules against electron, but `yarn start-headless` starts the web app.

The instructio

[2017-12-11 10:58] shannonlal commented on #307
Ok thanks for this.  This looks pretty easy so if you want I will update the documentation and send in a pull request for you.

Thanks again for the response

[2017-12-11 13:30] shannonlal commented on #307
I updated the CONTRIBUTING.md document to include your instructions and submitted a PR.  I also tested the instructions on my Mac and was able to get the environment build and running.  Thanks again for help it is greatly appreciated

[2017-12-11 18:43] titanomachy opened #309 "SQLite performance is bad"
For a SQLite database of 45MB in size I need to wait around 60 seconds before being able to type a 2nd query inside the editor. In between each action this happens. I am running it on an Asus Zenbook 3, no performance issues in other applications whatsoever. On an i7 octacore desktop the same experience. Too much lag to be of any use.

Maybe the Atom editor is not suitable for these kind of things

[2017-12-11 18:55] titanomachy opened #310 "SSH Tunnel feature"
In HeidiSQL I only use the SSH tunnel option for connecting to remote databases. Connecting to remote databases with Falcon would be easier with an SSH tunnel option in the connection screen. Doing this manually via the terminal is not a lot of extra work for experienced users, but beginners might find this  troublesome.

[2017-12-11 19:05] n-riesco commented on #309
Could you check how much RAM is Falcon using after the first request, please?

Also, how many rows and columns are you retrieving in this query?

[2017-12-11 19:24] titanomachy commented on #309
RAM is max 500MB, what I noticed is that Falcon is using 47%+ CPU when not doing any queries or rendering. I am retrieving 26000 records for 2 columns. I noticed Falcon is starting to slow down after a doing a couple of queries (5+) and especially when switching queries between tables.

[2017-12-11 19:54] titanomachy opened #311 "Resize handle on the editor form"
The only option right now is to hide or show the editor form. I would prefer a resize handle on the form, so that I can enter queries while viewing the graphs.

There is an issue in the Code Mirror repository about a missing resize handle: https://github.com/codemirror/CodeMirror/issues/850

There is another repository linked at the end, that implements the resize handle: https://github.com/Sphinx

[2017-12-11 20:53] n-riesco commented on #310
From a quick search: `tunnel-ssh` provides the needed functionality and depends on `ssh2` (written in pure JavaScript; i.e. no native modules required :tada:)

https://www.npmjs.com/package/tunnel-ssh
https://www.npmjs.com/package/ssh2

[2017-12-11 21:02] n-riesco commented on #311
Thank you so much for the links.

[2017-12-12 07:36] n-riesco commented on #307
Closed via #308

[2017-12-12 07:36] #307 closed

[2017-12-13 03:41] shannonlal opened #316 "ElasticSearch v 5"
I recently started using Falcon SQL and we are interested in using it (with ChartBuilder) to query  our ElasticSearch Cluster.  We are using version 5.4 of ElasticSearch and I am running into a problem trying to connect to it with Falcon SQL Client.  When I attempt to connect to the Sample ElasticSearch database (https://67a7441549120daa2dbeef8ac4f5bb2e.us-east-1.aws.found.io) I am able to connect

[2017-12-13 11:50] n-riesco opened #317 "elasticsearch: handle case when user forgets to set port number"
See https://github.com/plotly/falcon-sql-client/issues/316#issuecomment-351370001

[2017-12-13 11:54] n-riesco commented on #316
Thank you for the offer!

This must be a bug. I've just tested a local installation of `elasticseach@6.0.1` with the sample dataset [here](https://www.elastic.co/guide/en/elasticsearch/reference/current/_exploring_your_data.html#_loading_the_sample_dataset) and Falcon is working.

A mistake I keep making with the elasticsearch connector is to forget to set the port number. Falcon should be smarter

[2017-12-13 14:40] shannonlal commented on #316
Nicolas,
Let me look into this.  I think the issue is that I have an NGINX server infront of this so adding the port number may be causing an issue.  I have the code and will run some tests tonight to test this.  A lot people stick an NGINX server infront of ElasticSearch and Kibana so that they can do basic authentication or use a JWT tocken.  The only Auth mechanism with Elastic Search is X-Pack

[2017-12-13 14:43] shannonlal commented on #317
Nicolas,
As I mentioned in the original issue (#316 ) there might be an issue with using NGINX infront of Elastic Search.  I looked at the code last night and there might be an issue with the port.  I can run some tests tonight but I think if we can make the port optional (to support NGINX) this could solve the problem.  I will update this a little later tonight.

Thanks

[2017-12-13 17:50] n-riesco opened #319 "lint: warning in Preview.react.js"
[code]

[2017-12-13 17:59] n-riesco opened #320 "Release Falcon v2.4.0"
- [x] Confirm CircleCI build works
- [x] Confirm TravisCI build works
- [x] Confirm AppVeyor build works
- [x] Confirm Quay build works
- [x] Confirm Windows installer works and Falcon is able to connect to DB2 and sqlite
- [x] Confirm Mac installer works and Falcon is able to connect to DB2 and sqlite
- [x] Confirm Linux installer works and Falcon is able to connect to DB2 and sqlite
- [x] Update

[2017-12-13 20:07] n-riesco commented on #302
We are already using https://www.npmjs.com/package/aws-sdk to implement the S3 connector, and `aws-sdk` supports DynamoDB. So this is definitely doable.

I'm going to label this one are `community` and `good first issue`.

Some useful links:
- http://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/dynamodb-example-query-scan.html
- https://aws.amazon.com/blogs/aws/dynamodb-local-for-desk

[2017-12-14 02:06] shannonlal commented on #316
I did some testing tonight and identified one of the problems.  Because I have an NGINX infront of my Elastic Search cluster when I removed the port from the url in the following file:
[Elasticsearch.js](../blob/master/backend/persistent/datastores/Elasticsearch.js)

[code]
I am able to connect to my ElasticSearch cluster (behind NGINX) and view the list of indexes.

However, now that I am able to

[2017-12-14 02:07] shannonlal commented on #317
Before we go and enforce the port with Elastic Search I think it might be a good idea to leave it as optional.  I am working my way through a related ElasticSearch issue (#316 ) and by making the port optional it is allowing me to connect to ElasticSearch cluster behind a NGINX server.

[2017-12-14 07:38] n-riesco commented on #317
No, that's not what I mean.

At the moment, when Falcon connects to an elasticsearch server, it requests `_cat/indices`. Unfortunately, the server replies to this request even if the port number isn't set.

We need a more robust way to confirm the user has given us the right URL (regardless of whether that URL has a port number or not).

[2017-12-14 08:16] n-riesco commented on #316
If I were you, I'd use the command line instead to determine what the correct URL is. Falcon only uses 3 entrypoints in an elasticsearch server:

- `_cat/indices`
[code]

- `_all/_mappings`
[code]

- `${index}/${type}/_search`
[code]

[2017-12-14 13:11] shannonlal commented on #317
Ok makes sense.  If you want help fixing this let me know.  As I mentioned in issue #316 I am currently working my way through Elasticsearch.js to figure out what is causing the 400 error.

[2017-12-14 13:17] shannonlal commented on #316
Yup that is exactly what I am doing.  The issue that I am running into is that I am getting a response from curl and I am getting a response in the connect function (which does not seem to be a 400 error) within ElasticSearch.js; however, on the front end it is returning a 400 error.  I think the error might be in the parse.js file and my next step is going to be to step through this file to see w

[2017-12-14 16:28] chriddyp opened #322 "support for oracle db"
I've been following some threads in https://github.com/oracle/node-oracledb for the last year or two, and it looks like native binaries are finally available! https://github.com/oracle/node-oracledb/issues/18#issuecomment-351625712. As far as I recall, this was one of the blockers for supporting oracledb in this client.

[2017-12-14 18:12] n-riesco opened #323 "test: ensure `Export to CSV` works for logged and unlogged users"
See #321

[2017-12-15 11:45] n-riesco commented on #157
I've added an AppImage installer to the latest release: https://github.com/plotly/falcon-sql-client/releases/tag/v2.4.0

[2017-12-15 11:45] #157 closed

[2017-12-15 11:46] n-riesco commented on #320
Closed via https://github.com/plotly/falcon-sql-client/releases/tag/v2.4.0

[2017-12-15 11:46] #320 closed

[2017-12-15 11:47] n-riesco commented on #319
Closed via c4942950df72c4820127d8330f3352769d0ab7f0

[2017-12-15 11:47] #319 closed

[2017-12-15 12:19] n-riesco opened #325 "pruning obsolete branches"
cc/ @tarzzz @chriddyp @jackparmer @bpostlethwaite @rmoestl

Here's a list of branches that look obsolete.
Please, could you go through the list?

If you find that a branch is yours and you don't need it any longer,
please, could you tick it here and I'll delete it?

If you see any branches ticked for removal that you'd like to keep,
please, comment here.

## Branches to keep:
- 2.4-onprem (used fo

[2017-12-15 17:49] chriddyp commented on #325
i don't need any of my branches, prune away!

[2017-12-15 21:19] jackparmer commented on #325
Prune away! Thanks for tidying up the place!

On Fri, Dec 15, 2017 at 12:49 PM, Chris Parmer <notifications@github.com>
wrote:

[2017-12-16 10:37] n-riesco opened #326 "test failure in certificates.spec.js"
[code]

[2017-12-16 10:49] n-riesco commented on #289
We need to check the call to `createGrid` was successful before proceeding.

[code]

Relevant code: https://github.com/plotly/falcon-sql-client/blob/adaca9d530ef48c43a08249f6d1d8f7ae153dbad/test/backend/PlotlyAPI.spec.js#L27-L30

[2017-12-16 10:57] n-riesco opened #327 "add test to check validity of api key and access token"
See #301

[2017-12-16 11:05] n-riesco opened #328 "test failure at entrypoint `/oauth2`"
We need to check that request to `${getSetting('PLOTLY_API_URL')}/v2/users/current` was successful before proceeding.

[code]

Relevant code: https://github.com/plotly/falcon-sql-client/blob/adaca9d530ef48c43a08249f6d1d8f7ae153dbad/test/backend/PlotlyAPI.spec.js#L27-L30

[2017-12-17 00:51] shannonlal commented on #316
I have been testing the Elastic Search sample data and I have been getting some 400 errors.  These errors are similar to the errors I am getting when I connect to my DB. I wanted to see if anyone else is able to produce the same errors:

## Sample Elastic Search DB
**URL**: https://67a7441549120daa2dbeef8ac4f5bb2e.us-east-1.aws.found.io
**Port**: 9243

## When I try the following indexes and types

[2017-12-18 00:17] shannonlal commented on #261
Is anyone still looking at putting this together?  If not I would be willing to take a stab at it.  We have just starting using Athena and are looking for a Graphing tool that would allow us to build some reporting charts.

[2017-12-18 00:32] shannonlal commented on #266
The following is instructions from @n-riesco on issue #261

- backend/persistent/datastores/Datastores.js
//The following is the file that should connect to and query the interface
- backend/persistent/datastores/NewConnection.js
- app/constants/constants.js
- app/images
- app/actions/sessions.js
- app/components/Settings/Tabs/Tab.react.js
- app/components/Settings/Settings.react.js
//Unit testing

[2017-12-18 09:11] n-riesco commented on #266
SQL connectors must implement: `connect`, `query`, `tables` and `schemas`.

Special connectors (like S3, Apache Drill and Elasticsearch) have their own interfaces (`files`, `storage`, `listS3files`) and require more changes than those I've described above. In the long term, we'll have to think about handling these special cases in a more general way.

OK, let's go with `NEW_CONNECTION.md`. If main

[2017-12-18 09:39] n-riesco commented on #261
I'm not aware of anyone working on this connect.
@nzoschke , are you working on this?

I had a quick look and `athena-client` uses `async` functions internally; so you may need `babel` and `webpack` to get this working.

[2017-12-18 18:03] nzoschke commented on #261
I have not been working on it.

[2017-12-18 19:49] chriddyp commented on #266
Can we add or link this to the standard `CONTRIBUTING.md` file? https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md

[2017-12-19 13:44] shannonlal commented on #261
Ok.  I will take this on.  If I have any questions about how things should be put together I will post them here.

[2017-12-20 10:53] n-riesco commented on #325
@bpostlethwaite I'm going to delete `usePlotlyDataSetsInDB2` (since it's been already merged).

[2017-12-20 11:08] n-riesco commented on #325
@tarzzz can you confirm you don't need the following branches that have unmerged commits?
- add-authentication
- setup-hadoop-spark-test-db
- livy

[2017-12-20 11:47] n-riesco commented on #316
I can't reproduce any of these errors.

When you get the 400 error, could you open the dev console (View > Toggle Developer Tools) and see if there are any relevant error messages?

[2017-12-20 13:30] shannonlal commented on #316
I just installed a new Falcon Client (2.3.3-beta) on another laptop and I was able to successfully connect to the Sample Elastic Search client without any issues.  I tested all the indexes and types and I was able to view the data.  When I tried with my endpoint I was getting an error (see below).  The first cause of the error is due to the port issue #317.  Once this issue has been fixed it will

[2017-12-22 13:16] n-riesco opened #330 "Reduce/Simplify the ENV variables used by Falcon"
I've had a quick look at the ENV variables Falcon is using; mostly in [backend/settings.js](https://github.com/plotly/falcon-sql-client/blob/adaca9d530ef48c43a08249f6d1d8f7ae153dbad/backend/settings.js) but also in:
- [backend/main.development.js](https://github.com/plotly/falcon-sql-client/blob/adaca9d530ef48c43a08249f6d1d8f7ae153dbad/backend/main.development.js)
- [backend/headless.development.j

[2017-12-22 18:57] chriddyp commented on #330
👍  sounds good to me!

[2017-12-29 21:15] shannonlal commented on #261
FYI.  I have put together the stubbed code for this (See issue #266) and documented the steps for creating a new Datasource.  I looked through the above node-athena library and doesn't look like it will meet our needs so I will using the pure AWS Javascript libraries instead.  I will keep you posted

[2018-01-02 15:30] kndungu commented on #186
@n-riesco

I've just made a PR for the initial implementation.

Pending:
<img width="332" alt="screen shot 2018-01-02 at 18 18 19" src="https://user-images.githubusercontent.com/17295379/34488384-61a82ab8-efe9-11e7-816a-d0cca6969e7c.png">

I've as yet been unable to make the database name appear on the side panel's tree view, might you have some thoughts on this?

Token:
Connection to a dataset re

[2018-01-05 02:29] shannonlal opened #333 "Circle CI Tests are failing on Master"
I submitted a pull requests and this was just an MD file (NEW_CONNECTION.MD) and when I did I noticed the Circle CI tests fail.  I looked at Circle CI and it looks like it has something to do the the DB2 database.  I have pasted the error message from Cirlcle CI here

[code]

The failing test

[code]

[2018-01-05 07:21] n-riesco commented on #333
Some of the sample databases are currently down. Sorry about that.
There is already someone looking into this issue.
We're also discussing the option of moving some of the sample databases into docker containers to be run locally.

[2018-01-13 00:14] n-riesco commented on #333
Closed via #335

[2018-01-13 00:14] #333 closed

[2018-01-13 00:16] n-riesco opened #338 "circleci: failure of builds using cache v1-yarn-CJPsdLA_QBBc29NCz0PqeHGjfF0hzk0Rf1C8ar_WmnA="
Building without cache workarounds the problem.

We need to update `circle.yml` to reset the cache.

[2018-01-13 00:42] #338 closed

[2018-01-13 19:24] shannonlal commented on #261
FYI.  I have got the backend working for this.  Implemented this using the AWS SDK so there are no new external dependencies.  I am just trying to get everything integrated into front end and then I will push this up.  I am hoping to put in a pull request in next week

[2018-01-13 20:30] shannonlal opened #340 "Building from source on Mac"
I have been running into some problems with trying to build from source on a Mac.  I am 90% of the way done my Athena connection work #261 ;however, this is blocking me from completing my work and creating a pull request. I created a new directory on my Mac and cloned from source:

[code]

I am following these instructions (from Contribuing.md )for building from source:

[code]
I am running NodeJS

[2018-01-14 22:15] n-riesco commented on #340
Just to be sure, could you run `yarn run rebuild:modules:electron && yarn start` and see if it still fails?

If it fails (and for us to be able to reproduce the error), could post the versions you're using?
[code]

[2018-01-14 22:35] shannonlal commented on #340
I tried the instructions and was able to reproduce this but got a slight different error.  First off here is the environment variables:

yarn --version : 1.3.2
npm --version: 3.10.10
node -v : v6.11.5

If there is a recommended different versions of any of the above please let me know and I can switch to them and try again.

I am getting a new error now about the refresh interval:

Error: Refresh

[2018-01-14 22:48] n-riesco commented on #340
oh I see the problem! You need node v6.12 to be able to use the latest electron.

[2018-01-14 23:17] shannonlal commented on #340
Thanks.  Does it have to be v6.12 or can it be node 7 or 8?

[2018-01-14 23:19] n-riesco commented on #340
Don't know. We only run the tests on node v6.

[2018-01-14 23:53] n-riesco commented on #340
@shannonlal I'm not sure this is going to solve your problem.

[See here](https://circleci.com/gh/plotly/falcon-sql-client/2840?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link) the test failure where I noticed the requirement `>=6.11.4`.

I see you've got `v6.11.5`, so in principle you're fine (did you get any warnings when you run `yarn install`?).

We use Travi

[2018-01-15 00:25] shannonlal commented on #340
@n-riesco I am still getting the same error.  I updated my node to use (v6.12.3).

Here is the latest specs on my environment:
node v6.12.3
npm 3.10.10
yarn v1.3.2
electron-builder 19.46.4

I removed the node_modules directory and then did the following instructions to rebuild everything.

[code]
**I still get the same error as mentioned above**

Here is what I get when I try running `yarn run pac

[2018-01-15 00:43] shannonlal commented on #340
Just an update to your previous question about what happens when you do a ```yarn install```

Here is the output.  It looks like there are no errors or warnings:

[code]
Here is what happens when I run ```yarn run rebuild:modules:electron```

[code]
Here is what happens when I run ```yarn run build```

[code]

[2018-01-15 01:36] n-riesco commented on #340
The snippets of output you've posted look OK (please, could you double-check that they are the same warnings we get [on TravisCI](https://travis-ci.org/plotly/falcon-sql-client/builds/328343357?utm_source=github_status&utm_medium=notification)?).

@tarzzz are you able to reproduce this issue on your mac?

[2018-01-15 02:13] n-riesco commented on #340
@shannonlal Your build of the headless app doesn't throw the `NODE_MODULE_VERSION` error. This suggests there is another problem. The error message `Refresh interval must be at least 60 seconds (supplied 1)` suggests a problem with your configuration in `~/.plotly/connector/`.

Here's something you could try:
[code]
And open http://localhost:9494

If this works, then the corrupted configuration wa

[2018-01-15 11:06] shannonlal commented on #340
@n-riesco looks like it was the corrupted ```~/.plotly/connector/``` . I was able to get the headless mode to come up and get the application to the electron app to come back up.  I will update the CONTRIBUTING.MD file to include the information on which version of nodejs and if the users run into any problems they can delete the ploty directory.

Thanks again for all your help

[2018-01-15 11:06] #340 closed

[2018-01-16 07:51] n-riesco opened #342 "Falcon fails to start if bad configuration files"
See #340

[2018-01-17 13:32] amosmoss opened #344 "Support for Vertica"
Hi,

I would like to suggest adding support for the Vertica DB.

Thanks,
Amos.

[2018-01-18 15:44] salomoneb commented on #310
@titanomachy Were you able to connect Falcon to your MySQL database simply by opening an SSH tunnel in the terminal and then entering your MySQL credentials in the Falcon client? I tried this and kept getting 400 errors, which leads me to believe that Falcon wasn't registering the open tunnel. Would love to hear what worked for you.

[2018-01-19 01:01] shannonlal commented on #344
@amosmoss Is this something you would be willing to work on?  If so I just checked in a document on what you would need so I can give you a hand.

[2018-01-19 13:49] n-riesco commented on #344
It's unmaintained, but [node-vertica](https://github.com/wvanbergen/node-vertica) may help here.

[2018-01-19 13:56] n-riesco opened #345 "New Database Connectors"
The documentation to implement a new connector can be found [here](https://github.com/plotly/falcon-sql-client/blob/master/NEW_CONNECTION.md). And the documentation to build Falcon and troubleshoot common issues, [here](https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md).

List of connectors requested so far:
- #186 data.world
- #261 athena
- #297 firebird
- #302 dynamoDB
- #3

[2018-01-19 13:57] n-riesco commented on #266
Closed via #331

[2018-01-19 13:57] #266 closed

[2018-01-19 14:04] n-riesco opened #346 "Add tab to view log messages"
See #287

[2018-01-19 14:07] n-riesco commented on #287
The location of the log file is now documented in [CONTRIBUTING.md](https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md).

Open issue #346 to continue the discussion to implement a way for users to view the log messages.

[2018-01-19 14:07] #287 closed

[2018-01-19 14:08] n-riesco commented on #231
Re #330

[2018-01-19 14:11] n-riesco commented on #247
Closed via #277

[2018-01-19 14:11] #247 closed

[2018-01-19 14:15] n-riesco commented on #228
Re #335 #336

[2018-01-19 14:16] n-riesco commented on #186
Closed via #332

[2018-01-19 14:16] #186 closed

[2018-01-19 14:20] n-riesco opened #347 "Release Falcon v2.5.0"
- [x] Confirm CircleCI build works
- [x] Confirm TravisCI build works
- [x] Confirm AppVeyor build works
- [x] Confirm Quay build works
- [x] Update `CHANGELOG.md`
- [x] Update version number in `package.json`
- [x] Confirm Windows installer works and Falcon is able to connect to DB2 and sqlite
- [x] Confirm Mac installer works and Falcon is able to connect to DB2 and sqlite
- [x] Confirm Linux in

[2018-01-19 22:59] n-riesco opened #348 "Size comparison of linux installers"
Results for Falcon v2.5.0
[code]

Note that `tar.bz2`, `tar.gz`, `AppImage`, `rpm` and `zip` are significantly larger than `7z`, `deb`, `tar.lz` and `tar.xz`.

[2018-01-22 00:53] shannonlal commented on #261
@n-riesco I have this up and working and I am able to run queries from Electron front end to AWS Athena and see the results in the Charts.  I have the tests passing and ESLint is passing.  I just need to test a bit more some of the edge conditions and make sure the error handling is working correctly.  I will be able to submit a pull request for this by the middle of this week.  I had a couple of

[2018-01-22 17:56] jackparmer opened #349 "Support CSV file upload"
This [blog post review](https://blog.ouseful.info/2017/11/15/recent-releases-plotly-falcon-sql-client-and-the-remarkable-datasette-sqlite2api-generator/) of Falcon recommended CSV file upload so Falcon can be more on-par with something like Tableau Public. Seems like a useful idea and easy to add.

@nicolaskruchten recommends http://papaparse.com/

[2018-01-22 18:00] jackparmer opened #350 "Replace chart editor with react-plotly.js-editor"
~`react-pivottable.js`~ `react-plotly.js-editor` has all of the ability of the current Falcon chart editor, plus many more features and is better tested: ~https://react-pivottable.js.org/~ https://plotly.github.io/react-plotly.js-editor/

Could also use this opportunity to automatically disable charting when more than ~100k rows are retrieved, which I believe may be the issue here: https://github.

[2018-01-22 18:06] jackparmer opened #351 "Allow column filtering in table"
Could replace `fixed-data-table` with http://adazzle.github.io/react-data-grid/examples.html#/filterable-grid

[2018-01-23 00:13] shannonlal commented on #350
:thumbsup:

[2018-01-24 00:47] shannonlal commented on #317
I was looking back at this issue and I was able to get ElasticSearch back up and running.  I wanted to see about solutions to validate the url.  Would you be looking for something like performing a regex evaluation of the url string?  Or would you like a solution which tries to connect to the ElasticSearch server and validate that it is up and running?

If it is the regex expression, I can throw t

[2018-01-24 16:12] n-riesco commented on #347
Closed via https://github.com/plotly/falcon-sql-client/commit/8b394aac8d4512ba87ab5ed1376a37b8261b63c5

[2018-01-24 16:12] #347 closed

[2018-01-25 16:16] n-riesco opened #353 "Timeout connection doesn't update the state of the connection button"
![image](https://user-images.githubusercontent.com/6199391/35398953-1175a3d6-01eb-11e8-9f1e-41fc0f6aabb5.png)

![image](https://user-images.githubusercontent.com/6199391/35398709-81a72eaa-01ea-11e8-91d0-86d4d615cc69.png)

[2018-01-25 16:18] n-riesco opened #354 "Connect button should clear previous error messages"
![image](https://user-images.githubusercontent.com/6199391/35399049-4c3f6fe2-01eb-11e8-9195-fde308044f3d.png)

[2018-01-25 16:34] n-riesco opened #355 "A failure in the databse preview render the SQL editor unusable"
The connection button gets stuck in `LOADING...` state.

![image](https://user-images.githubusercontent.com/6199391/35399968-8294b398-01ed-11e8-9058-4789a1b91a21.png)

[2018-01-25 16:42] n-riesco opened #356 "MsSQL connector doesn't handle connections without the database setting"
![image](https://user-images.githubusercontent.com/6199391/35400423-a0d79e8c-01ee-11e8-83a0-a7cc7122f4cc.png)

![image](https://user-images.githubusercontent.com/6199391/35400440-b4a30406-01ee-11e8-8227-cbbbb00e3d88.png)

[2018-01-25 18:03] n-riesco opened #357 "MariaDB: allow connections without setting database"
Currently, both the Database and Table previewers require that a database has been set.

It's possible to connect to MariaDB server without specifying the database, but Falcon needs to learn how to request the list of tables and schemas when a database hasn't been set.

---

Note that the query `SHOW TABLES` requires that a database has been selected.

[2018-01-26 17:24] n-riesco opened #359 "don't use Logger inside the connectors"
At the moment, logging inside connectors is inconsistent:
- some connectors don't do logging
- some connectors only log calls to `connect`

I'd like to move the use of `Logger` from inside the connectors into https://github.com/plotly/falcon-sql-client/blob/master/backend/persistent/datastores/Datastores.js so that we log:
- calls to any of the methods exported by Datastores
- errors thrown inside

[2018-02-01 04:33] kcolton opened #360 "Typing in the SQL editor should not be laggy from heavy repaints of the chart"
It was quite frustrating to see the Falcon SQL Client have so much potential but be so difficult to use from severe performance issues. Had a suspicion it was an Electron app and was relieved to find that was true.

Here is the experience I was having when the Chart is open, which it is by default, for a new query:
https://jumpshare.com/v/37oThPPeXPgVvCAGwH5Q

I have Paint Flashing and Layer Borde

[2018-02-01 08:20] n-riesco commented on #360
This would be great. At the moment, I'm juggling on so many fronts maintaining Falcon, that all help is appreciated.

I've looked into it, but I've only been able to reproduce this issue twice (even though I'm developing on a VM with 4GB RAM).

I'm already aware that the react app is causing SQL duplicated requests to build the table preview (but this doesn't explain the issue you see).

The video

[2018-02-01 12:42] n-riesco opened #361 "Duplicated sql-schemas requests"
TableTree.react.js triggers two sql-schemas requests.

[code]

[2018-02-01 12:59] n-riesco opened #362 "Refactor Preview.react.js and Settings.react.js"
cc/ @kcolton @chriddyp @tarzzz

I'm starting this discussion prompted by issues:
- #360 (poor performance of code editor)
- #361 (duplicated sql-schemas requests)

Although the code editor lives in [CodeEditorField.react.js](https://github.com/plotly/falcon-sql-client/blob/8b394aac8d4512ba87ab5ed1376a37b8261b63c5/app/components/Settings/Preview/CodeEditorField.react.js) and the schema preview in [

[2018-02-01 13:38] n-riesco commented on #317
@shannonlal I'm working on this connector in PR #343 (I'll address this issue there).

[2018-02-01 13:49] n-riesco commented on #316
@shannonlal Would you be able to check if setting the port to 80 works with your NGIX setup?

[2018-02-01 14:37] n-riesco commented on #299
Re https://community.plot.ly/t/error-400-azure-sql-server/8032

[2018-02-01 16:30] n-riesco opened #363 "impala: add LDAP authentication"
See https://community.plot.ly/t/error-read-econnreset-cannot-to-impala-via-falcon-sql-client/7686

This request would require contributing to node-impala (see https://github.com/ufukomer/node-impala/issues/17).

[2018-02-04 19:14] shannonlal commented on #316
I just checked and port 80 does not solve the problem.  I am getting a 404  when I try to go to the following:

https://company-nginx-server-elaticsearch-url:80/_all/_mappings?format=json

I added the following into
backend/persistent/datastore/Elasticsearch.js in the request function

[code]

When I leave port empty I am able to hit my Elastic Search server and get the list of indexes back.

Your

[2018-02-07 00:40] soad1982 opened #367 "Docker container does connects to ploty but cannot create Database Query"
Hi,

I build the docker server but if I tried to use the Log into Plotly -> Connect to ploty cloud -> Authorize Plotly Data Connector? -> Authorize.

I got a redirection that says authorized you can return but it does not work I cannot create Database Querys on plot.ly

If I use the MAC version it all works so I copied the .plotly/connector folder to docker and docker can now update the grids but

[2018-02-07 10:50] n-riesco commented on #367
Unfortunately, this use case isn't documented yet. Please, see the discussion [here](https://github.com/plotly/falcon-sql-client/issues/227#issuecomment-343935342) for more info.

[2018-02-08 03:02] jackparmer commented on #360
Falcon's current charting tool was meant to be a stopgap for https://github.com/plotly/react-plotly.js-editor. Swapping out the charting tool may be the best starting point since this is imminent anyway: https://github.com/plotly/falcon-sql-client/issues/350

[2018-02-09 17:44] #285 closed

[2018-02-10 01:07] shannonlal commented on #316
@n-riesco.  when I add the above code snippet I am able to connect to the Elastic Search server behind NGINX.  I am able to see the indexes and documents.  I am noticing some weird 500 and timeout errors that I am currently investigating.  I am getting 400 or 500 errors even though when I look at the Debugger (through Electron) I can see that there have not been any network calls.  I am looking in

[2018-02-10 08:09] n-riesco commented on #316
@shannonlal  Since the url is `https`, could you try whether setting the port to `8080` fixes the issue?

[2018-02-10 12:49] shannonlal commented on #316
No problem on PR.  Just  a question.  Would you prefer to have a proxy flag? instead of ignoring the port?  i.e. Have a proxy option (similar to SSL) on the Connection page.  If this is enabled it will ignore the port.  Or we can just not include port if it is not provided.  Just let me know and I will put it together this weekend

[2018-02-10 13:11] n-riesco commented on #316
I don't have a strong opinion about this. I feel ignoring the port has more pros:
- it fixes the way build the url (now it's broken when the port is unset)

and fewer cons:
- no need to add logic to check that the user sets both the port and the proxy flag.

---

One question: would this PR fix all the issues you've seen with elastic search v5?

[2018-02-10 13:17] shannonlal commented on #316
This would fix one of the issues.  There are two other issues I have seen with ElasticSearch:
1. If the query response fails it is difficult to recover from (I am not sure if this is only about Elastic Search)
2. There is no way to add in query string to Elastic Search.  Essentially are Elastic Search query is doing a select * from all documents within the specific index.  There is no way to pass

[2018-02-10 13:18] shannonlal commented on #316
@n-riesco One last note.  For this ES port issue.  Which branch should I merge this into ?

[2018-02-10 13:31] n-riesco commented on #316
@shannonlal

This is an UI issue affecting all connectors (we have a few of those, e.g. #355).

PR #343 is getting too big (I'm having second thoughts and I don't really want to touch the UI in this PR). I'm tempted to merge it as it is; or perhaps, after adding the dockerfile and the test specs for ES v6.

I think this can be done touching only the UI side. I'd rather have this implemented in a s

[2018-02-10 18:24] shannonlal commented on #316
@n-riesco I just submitted a small PR for this issue.  I agree that we should keep this PR small.  I have addressed the issue of it working behind NGINX.  I think you are working on ElasticSearch v6.  I can look at validation of the connection
[code]
Did you have some initial ideas on how you would like to fix this issue?  I can take a stab at this.

[2018-02-10 18:30] shannonlal commented on #355
I have seen this before and I in the process of trying to track this down.  If anyone else is able reproduce this (Preferably with the Sample Plot.ly data) please add your comments here and I will take a stab at this.

[2018-02-10 21:39] n-riesco commented on #316
@shannonlal

This was a misunderstanding on my side. The ES server we're using for testing works, even when the URL doesn't set the port number.

Maybe, in the future, when we deal with backwards-incompatible changes in ES v6+, we can request `/` instead and store the ES version. E.g.:

[code]

[2018-02-11 19:54] shannonlal commented on #316
@n-riesco I ran a couple of tests and wanted to run a couple of things by you to see if this makes sense.

Our main objective inside the connect method (backend/persistent/datastores/ElasticSearch.js) is to ensure that the connection parameters work.  This means inside the connect method, instead of
[code]

We want something like

[code]
This should go off to the ES server and make sure that it is

[2018-02-11 20:47] n-riesco commented on #316
yes, it is (the reason also being that the entrypoint `/` returns the server version in `version.number`; something that we will need in the future and we could store in `connection.version`).

[2018-02-13 01:11] n-riesco commented on #356
Re #299

[2018-02-13 01:13] n-riesco commented on #355
Re #299

[2018-02-13 01:25] n-riesco opened #372 "Opening the query tab immediately after the connection yields a broken preview query in the code editor"
E.g. the MSSql connector with the sample credentials yields `SELECT TOP 1000 * FROM .dbo.null`

![image](https://user-images.githubusercontent.com/6199391/36128895-88fc1ff0-105c-11e8-89b6-c150cc7826dc.png)

[2018-02-13 13:33] #356 closed

[2018-02-14 14:09] #272 closed

[2018-02-14 14:22] #316 closed

[2018-02-14 14:22] #317 closed

[2018-02-14 14:36] n-riesco opened #373 "chai-spies fails after upgrading to chai@4"
See https://circleci.com/gh/plotly/falcon-sql-client/3785

[2018-02-14 14:54] n-riesco commented on #373
https://github.com/chaijs/chai-spies/issues/71

[2018-02-15 13:19] shannonlal commented on #362
@n-riesco .  I spent sometime working my way through the front end last night and I have some ideas on how to tackle this.  I think one of the main things I would like to add is Jest to test the components.  I think this will help document the expected behaviour and allow us to identify areas where maybe the application is crashing and we could add some basic error handling.  I can start laying ou

[2018-02-16 03:34] shannonlal commented on #362
I did some more work tonight and I was able to get Jest working and running a simple test against one of the components.    My recommendation would be to start with the basic non-connected React Components and build some basic tests around them.  Once we get some basic test coverage we could tackle the some of the more complex components like Settings to get this to work.  Here is a break down of

[2018-02-16 09:10] n-riesco commented on #362
@shannonlal

yes, please! :)

While we're at it, I'd like to rethink the naming of some of these components. For example, some of the points I'd like to address:

- when users report an issue with `TableTree`, they refer to that component as DB overview. I'd like the name of the component to reflect this. For example (this is just an idea), instead of having `Preview/TableTree.react.js`, I'd have

[2018-02-16 09:42] n-riesco opened #376 "another uncaught failure in QueryScheduler.spec.js"
See https://circleci.com/gh/plotly/falcon-sql-client/3810

[code]

[2018-02-16 09:54] #373 closed

[2018-02-16 11:10] shannonlal commented on #362
For any developers who are interested in helping out with this.  We are looking at going through our front end code to add some testing with Jest.  If you have any experience with React and Jest and would like to help out please drop me a line here and I can help get you setup.

[2018-02-19 13:18] n-riesco opened #380 "another uncaught failure in routes.spec.js"
https://circleci.com/gh/plotly/falcon-sql-client/3835

Caused by [this line](https://github.com/plotly/falcon-sql-client/blob/06609362dbf446336335276ca622daf13567bcf3/backend/routes.js#L643)

[code]

[2018-02-19 15:32] n-riesco commented on #362
@shannonlal After reviewing your PR #378 and writing the bug fix #379, I've noticed that the code to connect is split between `ConnectButton` and [renderSettingsForm](https://github.com/plotly/falcon-sql-client/blob/06609362dbf446336335276ca622daf13567bcf3/app/components/Settings/Settings.react.js#L98). This not only makes debugging more difficult, but also coding (I guess this is the reason why F

[2018-02-19 15:42] #380 closed

[2018-02-20 07:10] #372 closed

[2018-02-21 01:32] shannonlal commented on #362
@n-riesco.  Yes this makes sense.  I might move onto some of the other smaller components first to see if there are other areas that might need some code refactoring as well.  I think my short term goal should be to get some basic unit testing across the different components.  So when we start doing some refactoring we at least have some tests which hopefully make changes easier.

After the Connec

[2018-02-21 07:25] n-riesco commented on #362
@shannonlal

`DialectSelector.react.js` SGTM

[2018-02-21 13:07] #349 closed

[2018-02-21 15:51] nicolaskruchten commented on #349
Nice! Does the PR that closed this actually allow a user with local CSV to query it or must it be uploaded to a URL?

[2018-02-21 16:36] n-riesco opened #383 "CSV: let users upload a CSV file"
A continuation of work in PR #349.

@jackparmer @jody @tarzzz  Below is a discussion of two issues with the CSV connector that will affect the onprem setup.

---

Up to now, connections in Falcon are permanent. That is, when a user connects to a database, the connection is stored in `~/.plotly/connector/connections.yaml`. If we close Falcon and we open it again, the connections in `~/.plotly/conne

[2018-02-21 16:39] n-riesco commented on #349
@nicolaskruchten No, just URLs. I've opened #383 to discuss how to implement uploading user's CSV files.

[2018-02-21 17:59] jackparmer commented on #383
👍 Sounds right

Too complicated. This should be a normal file upload that any Excel user could figure out.

We do this Chart Studio too.

[2018-02-21 18:18] n-riesco opened #384 "Retrieval of the list of tables fails silently"
Prior to #379 this bug would break the query editor (the button Run becomes unresponsive).
After #379 the user is unable to switch to the tab Query (but the error isn't reported and the user doesn't know the reason why the tab Query is disabled.)

Re #355

[2018-02-22 03:32] shannonlal commented on #362
@n-riesco As I am working my through the list, I think I will tackle the Logger next.  I had a quick look at the OptionsDropdown and I wanted to get your thoughts on breaking this into 3 smaller components: SQL Options, ElasticSearch Indecies, and ElasticSearch Docs.  I think we would still have the OptionsDropdown component but it would reference 3 other components (SQL Options, ElasticsearchInde

[2018-02-23 23:16] n-riesco commented on #362
@shannonlal

Yes, I'm OK with the split. I wouldn't spend a lot of time on it, but I'd take the chance to fix Falcon's bad orthography :stuck_out_tongue_closed_eyes: . How about: `SQLOptions`, `ESIndicesOptions`, `ESDocsOptions`?

[2018-02-24 04:06] shannonlal commented on #362
OK Cool.  I will tackle this soon.  Should be pretty easy

[2018-02-25 17:18] shannonlal commented on #362
@n-riesco Is it me or is app/components/Settings/Logger.react.js and LoggerController.react.js not being used.  I did a quick search and can't see to find any references to it?  Am I missing something?

Thanks

[2018-02-25 17:35] shannonlal commented on #362
@n-riesco Just working my way through some of the other components and noticed some of them extend React's component but others do not.  Should we be standardizing?    As an example the following do not extend Component:

1. ApacheDrillPreview.react.js
2. S3Preview.react.js
3. preview/SQLTable.react.js
4.SQLTable.react.js

1. Should we standardize these to React Components?
2. I also noticed that

[2018-02-26 14:41] Edsase opened #388 "Invalid arguments: "timeout" must be a number"
Connection timeout field displays the above error even when the input is a number (both integer and float raise this error)

[2018-02-26 14:43] shannonlal commented on #388
Which db connector are you using?

[2018-02-26 14:48] Edsase commented on #388
SQLServer

[2018-02-26 14:53] shannonlal commented on #388
Have you been able to reproduce this with the sample data provided.  For example if you click on the SQLServer connector and then click on Sample Credentials.  Are you able to reproduce this error?  Can you provide the information you used.  It would help us test to determine what the issue is

[2018-02-26 15:00] Edsase commented on #388
I think i didn't describe the error well. Let me try again:
I am trying to connect to an SQLServer which generally takes a while to load even with other clients. So Falcons default  connection timeout of 15000milliseconds is too short. I tried to change this field using increment arrow and manual input. Both approaches lead to the error "Invalid arguments: "timeout" must be a number".

[2018-02-26 21:03] jackparmer commented on #350
Here's a mock of how this might look based on [`react-plotly.js-editor`](https://plotly.github.io/react-plotly.js-editor/) so far:

![image](https://user-images.githubusercontent.com/1865834/36695186-8d97baee-1b0e-11e8-93a2-1e4d499d006c.png)

[2018-02-27 09:32] #383 closed

[2018-02-27 09:46] n-riesco commented on #383
@nicolaskruchten @jackparmer I've just merged #385 and now users can drag'n'drop a file on the CSV connector.

I've tested the connector on 4GB VM and it can cope with a 40MB CSV file. But a 120MB CSV file crashes Falcon's server.

[2018-02-27 19:10] nicolaskruchten commented on #383
Super cool! I played with it a bit and just have one bit of feedback... When I drop my CSV file, I have to hit "connect" and then it switches to a view where it says "connected" greyed out and "edit credentials" active. I then have to hit "Query" to actually see/chart the data. This makes a lot of sense in a database context but less in a file context. Maybe a bit of text saying "Connection succee

[2018-02-27 20:51] logicsandeep commented on #363
Hey Guys,
It would be great to know the status of this issue. Please let us know when this issue resolved.

[2018-02-27 21:42] n-riesco commented on #363
@logicsandeep There is no one working on this issue (mostly because this is actually an enhancement request for [node-impala](https://github.com/ufukomer/node-impala)). I'm tagging this issue as `community`, so that people know that help will be appreciated.

[2018-02-27 21:54] n-riesco commented on #383
@nicolaskruchten We're in the process of refactoring the UI (see #362). [One of the changes I've proposed](https://github.com/plotly/falcon-sql-client/issues/362#issuecomment-366726971) is actually meant to help us simplify UI and have one button instead of two. We'll address your suggestion then.

Another thing we could do to make the UX more fluent is to open the query tab automatically when the

[2018-02-27 21:56] n-riesco commented on #362
From https://github.com/plotly/falcon-sql-client/issues/383#issuecomment-368991461 @nicolaskruchten  wrote:

---

See also https://github.com/plotly/falcon-sql-client/issues/383#issuecomment-369039871

[2018-02-28 04:14] rflprr opened #389 "Improve error handling for data.world queries"
Currently, the data.world connector makes assumptions about the response payload that are not met in case of errors. Instead, the connector should expect a different payload in case of errors and make good use of it to inform the user about what's wrong with their SQL query.

![image](https://user-images.githubusercontent.com/1487471/36769669-6b58bcaa-1c0b-11e8-8fd7-7893c7f7c3a3.png)

[2018-02-28 10:32] n-riesco opened #390 "Saved connections that fail to connect get stuck on `Connecting`"

[2018-02-28 10:40] n-riesco commented on #388
@Edsase I can't reproduce this issue (I even tried to edit `%userprofile%\.plotly\connector\connection.yaml` manually).

What value of `connectTimeout` are you using?

Did you get to save the connection? Assuming that you are on windows, a list of saved connections can be found in `%userprofile%\.plotly\connector\connection.yaml` (this a text file that can be opened with notepad).

[2018-02-28 10:48] n-riesco opened #391 "Cannot remove a saved connection that gets stuck on `Connecting`"
The tab is closed, but the connection isn't removed from `connections.yaml`.

[2018-02-28 17:15] logicsandeep commented on #363
I believe this is a very important requirement. I can't think of people connecting to impala with out a username/password. It would be great if this issue is prioritized.

[2018-02-28 18:07] chriddyp commented on #363
If you would like particular features built that aren't in the roadmap, your company or organization can sponsor them through Plotly's Advanced Development team: https://plot.ly/products/consulting-and-oem/

[2018-03-01 18:19] n-riesco commented on #362
@shannonlal I've dealt with `SQLTable` in #393

[2018-03-02 18:26] n-riesco opened #395 "Preview: propsToState doesn't check whether props have changed"
[Preview#propsToState(nextProps, props)](https://github.com/plotly/falcon-sql-client/blob/0040dcf17a4ab1f83ea795473ac29e7654ef440f/app/components/Settings/Preview/Preview.react.js#L58) doesn't check whether `props` have change triggering unnecessary renders (and expensive like rendering the chart).

Re #264 #309

[2018-03-03 20:13] #351 closed

[2018-03-04 17:53] eric-jahn commented on #363
@chriddyp : We consider this secure connections a core feature for a reporting platform.  For our Hadoop-based warehouse platform (https://github.com/servinglynk/hmis-lynk-open-source), that would mean either support for secure Hive or secure Impala connections.  We do not have funds available to support development of those features, since we are committed to our core features.  But, we would lov

[2018-03-05 23:52] n-riesco opened #397 "routes.js: use of `response.json()` without checking response status"
See https://github.com/plotly/falcon-sql-client/blob/1e04ec1bd2dcf51b44163eb64d0ce6183ead8c38/backend/routes.js#L596

[2018-03-07 18:08] #389 closed

[2018-03-08 11:20] n-riesco opened #398 "redshift: row order returned by the redshift test server has changed again"
https://circleci.com/gh/plotly/falcon-sql-client/4030

[2018-03-08 15:51] #397 closed

[2018-03-08 15:51] #398 closed

[2018-03-09 18:14] n-riesco opened #400 "Upgrade to React@16"
https://github.com/plotly/react-chart-editor requires `react@>15`.

We need to upgrade Falcon to depend on react@16 before merging the PR for #350 .

[2018-03-09 22:14] n-riesco opened #401 "Replace react-codemirror with react-codemirror2"
* `react-codemirror` triggers a version warning with `react@16`
* `react-codemirror` [doesn't seem to be maintained](https://github.com/JedWatson/react-codemirror/issues/126)

@chriddyp @shannonlal Shall we use https://www.npmjs.com/package/react-codemirror2 ?

[2018-03-10 07:46] #400 closed

[2018-03-13 15:26] n-riesco opened #404 "Support for Google BigQuery"
From https://community.plot.ly/t/support-for-google-bigquery/8894

---

This is a good first issue, since [@google-cloud/bigquery](https://github.com/googleapis/nodejs-bigquery) provides all the needed functionality:
- [query](https://cloud.google.com/nodejs/docs/reference/bigquery/1.0.x/BigQuery#query)
- [list of all datasets](https://cloud.google.com/nodejs/docs/reference/bigquery/1.0.x/BigQuery

[2018-03-13 16:37] dkapitan commented on #404
Have never contributed to js projects, but since the feature request is mine I am willing to help wherever I can. Looking at the codebase of falcon, it lookst like a new `bigquery.js` [persistent datastore](https://github.com/plotly/falcon-sql-client/tree/master/backend/persistent/datastores) is needed. That means wrapping [Bigquery node.js client libraries](https://cloud.google.com/bigquery/docs/

[2018-03-13 16:47] shannonlal commented on #404
@dkapitan I can help you with this.  I did the Athena connector and can walk you through the process.  @n-riesco helped me a lot with setting this up.  I would clone the project and look at the Contributing.md and New_connection.md as good starting points.  Feel free to ask questions.

[2018-03-13 16:53] n-riesco commented on #404
@dkapitan As @shannonlal says, the best place to start is https://github.com/plotly/falcon-sql-client/blob/master/NEW_CONNECTION.md

[2018-03-14 13:23] lunakid commented on #311
I've just [described in a comment](https://github.com/codemirror/CodeMirror/issues/850#issuecomment-373010997) a new implementation, which is the simplest yet, and does not need any JS drag-and-drop or custom drawing tricks, but relies on simpler, more straightforward and robust HTML5 features instead.

(Because of that, browsers, which don't support those (pretty standard) features yet, will just

[2018-03-14 17:31] dkapitan commented on #404
@shannonlal and @n-riesco
Of topic, but to deepen my understanding. The Sequalize library is used to create the connections. Since I also need to interface via odbc, it seems that integration of https://github.com/ratanakvlun/sequelize-odbc-mssql/blob/master/README.md may be relevant for my needs. Am I right that odbc is currently not yet supported?

[2018-03-14 18:39] n-riesco commented on #404
@dkapitan

only some of the connectors use `Sequelize`

I'm not familiar with `sequelize-odbc-mssql`. The main difficulties I see:
- it requires an ODBC driver (see configuration of `dialectOptions.driver`)
- and it's only for windows.

If you want to experiment with `sequelize-odbc-mssql`, you'd need to edit [these lines in `Sql.js`](https://github.com/plotly/falcon-sql-client/blob/80590c1125f8fe

[2018-03-14 18:47] n-riesco commented on #401
See https://github.com/plotly/falcon-sql-client/issues/311#issuecomment-373019064 to implement resize.

[2018-03-14 18:48] n-riesco commented on #311
@lunakid Thank you for the link!

I'm planning to address this issue when we replace `react-codemirror` with `react-codemirror2` (issue #401).

[2018-03-14 19:33] lunakid commented on #311
Great!
(BTW, I removed from my comment above a confusing remark about issue merging, which got there by mistake. :) )

[2018-03-19 09:07] n-riesco opened #406 "sqlite: use better-sqlite3"
Test use of faster https://github.com/JoshuaWise/better-sqlite3

[2018-03-24 16:48] #350 closed

[2018-03-24 16:48] #395 closed

[2018-04-03 08:47] n-riesco opened #409 "MsSQL: unable to run queries on databases with names that contain `-`"
See https://community.plot.ly/t/error-once-i-am-connected-to-my-azure-sql-database/6799/12?u=n-riesco

[2018-04-03 10:02] n-riesco opened #410 "MSSql: support windows authentication"
Right now, we're using [tedious](https://www.npmjs.com/package/tedious) a pure Javascript TDS driver. Although there is work in progress to support windows authentication (on windows only). See:
- https://github.com/tediousjs/tedious/issues/415
- https://github.com/tediousjs/tedious/issues/246
- https://github.com/tediousjs/tedious/pull/497
- https://github.com/tediousjs/tedious/commit/f5a2260f
-

[2018-04-04 14:39] n-riesco commented on #410
Re #300

[2018-04-07 19:01] n-riesco opened #412 "DB2: use ibm_db@2.3.0"
* ibm_db@2.3.0 fixes https://github.com/ibmdb/node-ibm_db/issues/329

[2018-04-10 17:35] n-riesco opened #413 "SQLTable: make the table view resizable"
Use `react-resizable` as in #411

[2018-04-10 19:13] n-riesco commented on #261
closed via #352

[2018-04-10 19:13] #261 closed

[2018-04-11 13:43] #311 closed

[2018-04-11 13:43] #360 closed

[2018-04-11 13:43] #401 closed

[2018-04-11 13:43] #412 closed

[2018-04-11 14:33] #325 closed

[2018-04-13 15:05] chriddyp opened #417 "Comments not recognized?"
Error report from a user:

I haven't confirmed or tested this myself.

[2018-04-13 17:25] n-riesco commented on #417
Just tested Falcon v2.6 and comments with `#`, `--` and `\*  *\` work with the MySQL connector:

![image](https://user-images.githubusercontent.com/6199391/38749018-08f5dab0-3f48-11e8-9a8f-1b786a2d7389.png)

[2018-04-17 00:44] shannonlal commented on #404
@dkapitan I think the Plot.ly team was swamped the last couple of weeks fixing some bugs and getting the latest Falcon release working.  I am looking at using Big Query at work soon so I could make sometime to help with you this.  For Big Query I don't think it makes sense to use sequelize and I would look at using the https://www.npmjs.com/package/@google-cloud/bigquery project.  For Athena, we a

[2018-04-17 04:55] dkapitan commented on #404
@shannonlal thanks for your help. I am currently swamped myself, and in the process of implementing a new data science platform on Google Cloud. So I don't expect to have time in the coming months. Maybe over summer I could start this, when things are a bit less hectic at work.

[2018-04-17 08:15] n-riesco commented on #302
From slack:

I had a quick look at `dynamodb-sql`. It looks OK. I've only noticed 2 difficulties:

1. the implementation of `SHOW TABLES` doesn't account for databases with 100+ tables (we'd have to contribute a PR; see https://github.com/awspilot/dynamodb-sql/blob/b6270798f74e480721b0a06d169006017e591c85/lib/dynamodb.js#L31-L38)

2. to implements `schemas()`, we'd have to make multiple queries: f

[2018-04-17 08:34] n-riesco commented on #302
https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_ListTables.html
https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_DescribeTable.html

[2018-04-17 08:42] n-riesco commented on #302
:( Maybe, I'm misreading [this](https://github.com/awspilot/dynamodb-oop/blob/ed086602e34f88a2c7d0e3f903ed201212cde8a6/lib/dynamodb.js#L295-L312), but it looks like `dynamo-sql` doesn't account for queries that return large responses and require [pagination](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Query.html#Query.Pagination).

[2018-04-17 08:43] zhaodagang opened #418 "yarn run rebuild:modules:electron"
Error: Unresolved node modules: ajv
    at G:\sql-client\node_modules\electron-builder-lib\src\util\packageDependencies.ts:112:19
    at next (native)
From previous event:
    at Collector.resolveUnresolvedHoisted (G:\sql-client\node_modules\electron-builder-lib\out\util\packageDependencies.js:208:11)
    at G:\sql-client\node_modules\electron-builder-lib\src\util\packageDependencies.ts:88:18

[2018-04-17 09:14] n-riesco commented on #418
Please, could you post the full error output?
Could you also post the output of `yarn install`?

---

I can't reproduce this issue on linux (I'll try to reproduce the issue on Windows later today)

[code]

[2018-04-17 09:15] n-riesco opened #419 "Warning `has incorrect peer dependency`"
See https://github.com/plotly/falcon-sql-client/issues/418#issuecomment-381914516

[2018-04-17 09:27] n-riesco commented on #419
Closing this is an issue with `yarn@1.0.2`. This issue doesn't happen with `yarn@1.3.2` or `yarn@1.6.0`.

[2018-04-17 09:27] #419 closed

[2018-04-17 09:37] zhaodagang commented on #418
this plateform is window.
yarn install  that is successful.

All errors is ：

Error: Unresolved node modules: ajv
    at G:\sql-client\node_modules\electron-builder-lib\src\util\packageDependencies.ts:112:19
    at next (native)
From previous event:
    at Collector.resolveUnresolvedHoisted (G:\sql-client\node_modules\electron-builder-lib\out\util\packageDependencies.js:208:11)
    at G:\sql-clien

[2018-04-17 09:41] zhaodagang commented on #418
The output of yarn install  is ：

PS G:\sql-client> yarn install
yarn install v1.5.1
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info 7zip-bin-linux@1.1.0: The platform "win32" is incompatible with this module.
info "7zip-bin-linux@1.1.0" is an optional dependency and failed compatibility check. Excluding it from installation.
info 7zip-bin-mac@1.0.1: Th

[2018-04-17 10:06] n-riesco commented on #418
@zhaodagang The output messages show you're using an old version of Falcon. We released Falcon v2.6 last week. Could you update your installation and check if you still get the same error?

---

Also, I'd expect the output of `yarn rebuild:electron:modules` to include the version of `electron-builder`.

If updating your installation of Falcon doesn't fix the issue. Could you run `yarn install` and

[2018-04-17 10:11] zhaodagang commented on #418
@n-riesco  thank you very much ,I'll try it with v2.6

[2018-04-17 10:16] n-riesco commented on #418
@zhaodagang :+1: Please, don't forget to post here if Falcon v2.6 fixes the error you see.

[2018-04-17 10:17] zhaodagang commented on #418
@n-riesco  Of course

[2018-04-17 10:36] zhaodagang commented on #418
@n-riesco   After run yarn install width v2.6,  output  of errors  are ：

PS G:\falcon-sql-client> yarn install
yarn install v1.5.1
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info 7zip-bin-linux@1.1.0: The platform "win32" is incompatible with this module.
info "7zip-bin-linux@1.1.0" is an optional dependency and failed compatibility check. Excluding it

[2018-04-17 10:59] zhaodagang commented on #418
@n-riesco After run yarn install is successful with v2.6,
but after yarn run rebuild:modules:electron is errors:

PS G:\falcon-sql-client> yarn run rebuild:modules:electron
yarn run v1.5.1
$ cross-env FSEVENTS_BUILD_FROM_SOURCE=true node scripts/rebuild-modules.js --electron

electron-builder 19.46.4
Rebuilding native production dependencies for win32:x64
Rebuilding native dependency ibm_db
Rebuil

[2018-04-17 11:10] zhaodagang commented on #418
PS G:\falcon-sql-client> yarn install
yarn install v1.5.1
[1/5] Validating package.json...
[2/5] Resolving packages...
[3/5] Fetching packages...
info 7zip-bin-linux@1.1.0: The platform "win32" is incompatible with this module.
info "7zip-bin-linux@1.1.0" is an optional dependency and failed compatibility check. Excluding it from installation.
info 7zip-bin-mac@1.0.1: The platform "win32" is incom

[2018-04-17 11:15] n-riesco commented on #418
The error you get now is a failure to build the native module for sqlite3. See the error message `MSBUILD : error MSB3428:`. I guess the error message is in Chinese and it says that the project `G:\falcon-sql-client\node_modules\sqlite3\build\binding.sln` is incompatible with your version of Visual Studio.

To be able to help, I need to know what installation of Visual Studio you're using.

[2018-04-17 12:11] zhaodagang commented on #418
Visual C++ 6.0

[2018-04-17 12:54] n-riesco commented on #418
Visual C++ 6.0? That's a 32-bit compiler. Some of the native modules require Windows 64-bit (e.g. the driver for IBM DB).

To build Falcon, you need [the 64-bit version of node](https://nodejs.org/dist/v8.11.1/node-v8.11.1-x64.msi).

And to build native modules you could install [windows-build-tools](https://github.com/nodejs/node-gyp#option-1).

[2018-04-17 14:25] n-riesco commented on #418
I've just noticed in your log that you're using Windows and Node.js 64-bit: `gyp info using node@6.12.3 | win32 | x64`. So the error you see must be caused by `Visual C++ 6.0`.

[2018-04-18 03:16] zhaodagang commented on #418
node -v  is  6.12.3  x64, i already  install  windows-build-tools.

Error still is :

PS G:\falcon-sql-client> yarn run rebuild:modules:electron
yarn run v1.5.1
$ cross-env FSEVENTS_BUILD_FROM_SOURCE=true node scripts/rebuild-modules.js --electron

electron-builder 19.46.4
Rebuilding native production dependencies for win32:x64
Rebuilding native dependency ibm_db
Rebuilding native dependency sqlit

[2018-04-18 09:49] n-riesco commented on #418
It looks like `node-gyp` is still trying to use Microsoft Visual Studio 2005.

I'm not sure this is going to work, but you could try to config yarn to use Visual Studio 2015:
[code]

If you still get an error related to python, you may also need to run:
[code]

[2018-04-18 13:43] n-riesco commented on #418
Please, ignore [the post above](https://github.com/plotly/falcon-sql-client/issues/418#issuecomment-382330881). After some fiddling, this is how I got to build Falcon on one of my Windows machines:

1. In PowerShell as Administrator: `npm install --global --production windows-build-tools`

2. Add `%USERPROFILE%\.windows-build-tools\python27` to `PATH` in the User's environment variables.

3. Add `

[2018-04-18 14:09] pietersv opened #420 "Unsupported SET option client_min_messages"
Falcon looks amazing.  Attempting to connect to a Vertica instance using the PostgresQL connection type.  It almost works but fails on an unsupported option:

`Unsupported SET option client_min_messages`

Is Vertica support in the dev pipeline?  Alternatively is it possible to note and proceed when some options aren't set?  Usually Postgres drivers work fine with Vertica but not all newer Postgres

[2018-04-18 15:52] n-riesco commented on #420
We've already opened issue #344 to track the development of a connector for Vertica. As far as I know, no one has started to work on this issue.

I've quickly looked into the possibility of using the PostgresQL connector to connect to Vertica. And it seems this isn't possible without developing a new dialect for `sequilize`. There was an attempt [here](https://github.com/sequelize/sequelize/pull/7

[2018-04-18 15:52] #420 closed

[2018-04-18 15:55] n-riesco commented on #344
For testing: https://my.vertica.com/download/vertica/community-edition/

[2018-04-18 16:29] pietersv commented on #344
We can likely help.  We use both Vertica and node-vertica.

[2018-04-18 16:50] n-riesco commented on #344
@pietersv

The instructions to build Falcon can be found in [CONTRIBUTING.md](https://github.com/plotly/falcon-sql-client/blob/master/CONTRIBUTING.md). I've just noticed that `CONTRIBUTING.md` needs a bit of cleaning up. Briefly, the instructions to build Falcon are:
[code]

The process to add a new connector is roughly described in [NEW_CONNECTION.md](https://github.com/plotly/falcon-sql-client/b

[2018-04-18 18:37] n-riesco commented on #322
See https://apex.oracle.com/

[2018-04-19 02:45] zhaodagang commented on #418
Add %USERPROFILE%\.windows-build-tools\python27 to PATH in the User's environment variables.

IS it not System' environment variables?

[2018-04-19 02:52] zhaodagang commented on #418
PS G:\falcon-sql-client> yarn rebuild:modules:electron
yarn run v1.5.1
$ cross-env FSEVENTS_BUILD_FROM_SOURCE=true node scripts/rebuild-modules.js --electron

electron-builder 19.46.4
Rebuilding native production dependencies for win32:x64
Rebuilding native dependency ibm_db
Rebuilding native dependency sqlite3
Error: C:\Program Files\nodejs\node.exe exited with code 1
Output:
$ node-pre-gyp insta

[2018-04-19 07:42] n-riesco commented on #418
The log messages show that now `electron-builder` can access `MSBuild` and `Python2.7`.
But the error message about `CL.exe` suggests that the `windows-build-tools` isn't fully installed.

To fix this error, I'd try and run `npm install --global --production windows-build-tools` again. Note that this command may take a long time to complete.

[2018-04-19 11:33] zhaodagang commented on #418
@n-riesco ,my opration system is  windows 10
After npm install --global --production windows-build-tools again,  this install is successful.

Error are:

PS G:\falcon-sql-client> yarn rebuild:modules:electron
yarn run v1.5.1
$ cross-env FSEVENTS_BUILD_FROM_SOURCE=true node scripts/rebuild-modules.js --electron

electron-builder 19.46.4
Rebuilding native production dependencies for win32:x64
Rebuil

[2018-04-19 12:52] n-riesco commented on #418
:disappointed: That's exactly the same error message!

Let's assume `windows-build-tools` has installed Visual Studio properly.

Let's check instead that `windows-build-tools` configured `yarn`/`npm` properly. Could you post the output of running:
- `yarn config get msvs_version`
- `npm config get msvs_version`

[2018-04-19 13:08] pietersv commented on #307
I was able to build and run Falcon SQL Client as an electron app locally with Node 6.12 following the instructions on the current `CONTRIBUTING.md` just fine.  However, I still see the exact messages for Error 1 and Error 2 above when running `yarn build` and `yarn start`.  But it does build and start.

[2018-04-19 14:07] n-riesco commented on #307
@pietersv `yarn start` assumes `yarn rebuild:modules:electron` has been run after `yarn install`.

how do you get Error 1?

[2018-04-19 16:50] n-riesco opened #421 "Remove `dtrace-provider`"
See build failure in https://github.com/plotly/falcon-sql-client/issues/307#issuecomment-382795790

[2018-04-19 16:52] n-riesco commented on #307
I looks like the cause is `dtrace-provider`. As a workaround, I'd remove `dtrace-provider` from `node_modules`. To be safe, after removing `dtrace-provider`, I'd rebuild the native modules and the bundles:
[code]

---

I've opened issue #421 to remove `dtrace-provider`.

[2018-04-19 16:59] n-riesco commented on #420
@pietersv The `sequelize` route sounds like more work than `node-vertica`. First, we'd have to contribute the new dialect to `sequelize`, and then implement the connector in Falcon. Despite having said that, I have no preference.

[2018-04-20 06:49] n-riesco commented on #418
That looks correct.

Let's check that the installation of `windows-build-tools` is functional. Could you check if the following works?

1. Create the file `hello.cpp` with:
[code]

2. Create the file `hello.vcxproj` with:
[code]

3. Open a terminal at the folder where the files above were created, and then run:
[code]

4. If  the above worked, you should be able to run:
[code]

[2018-04-20 14:11] n-riesco commented on #421
https://github.com/electron-userland/electron-builder/issues/1688
https://github.com/cozy-labs/cozy-desktop/issues/809

[2018-04-20 15:12] n-riesco opened #423 "Replace restify with express (and bunyan with winston)"
At the moment, Falcon is stuck with `restify@4` because `restify@5` deprecated `uncaughtException` events. The latest version is `restify@7`.

Another issue that I've just come across is that `restify` pulls the logging module `bunyan` and the native module `dtrace-provider` as dependencies.

I'm opening this issue to get everyone's thoughts on replacing `restify` with `express` (and `bunyan` with

[2018-04-20 18:54] bvmcode opened #424 "Win Installation - Falcon SQL Client.Ink Unspecified error"
Tried installing on two PCs from the plot.ly download. I get this error:

C:\<path>\Falcon SQL Client.Ink
Unspecified error

[2018-04-20 18:57] n-riesco commented on #424
Do you get the error during the installation? or after, when you launch Falcon?

[2018-04-20 18:58] bvmcode commented on #424
My apologies, I should have stated that. It happens during the installation.

[2018-04-20 19:01] n-riesco commented on #424
I'm double-checking the installer. In the mean-time, please, could you check whether the antivirus in your machine is interfering with the installation?

[2018-04-20 19:27] bvmcode commented on #424
confirmed that it is not.

[2018-04-20 19:44] n-riesco commented on #424
I've checked the installer linked by plot.ly and I can confirm it's the same installer we distribute in github.

I've also run the installer and it installs and opens Falcon without a problem in my machine.

---

I'm not sure how to go about debugging what's causing the problem in your case. It sounds like the installer runs but it fails to launch Falcon.

Could you check if Falcon is installed?

[2018-04-20 20:00] bvmcode commented on #424
It shows its installed but when I try to open it I get a box that states "blocked by group policy". So it must be because of group policy set by my company.

A colleague of mine also tried to install and got the following:

"This file does not have a program associated with it for performing this action. Please install a program or, if one is already installed, create an association in the Default

[2018-04-20 20:10] n-riesco commented on #424
That would explain what you're seeing.

This usually happens when one tries to open a file with a filename extension unknown to Windows (it shouldn't happen with `.exe` files).

[2018-04-20 20:16] bvmcode commented on #424
ok, I guess we can close this since this issue is specific to my situation.

[2018-04-22 20:27] amosmoss commented on #344
Sorry, I just saw the comment. I'm sorry, but I don't really a coder...

[2018-04-22 20:33] n-riesco commented on #344
@amosmoss No worries. We'll keep the issue open so that others can show their interest getting this connector.

[2018-04-23 09:56] zhaodagang commented on #418
F:\cpp>msbuild hello.vcxproj
Microsoft (R) 生成引擎版本 14.0.25420.1
版权所有(C) Microsoft Corporation。保留所有权利。

生成启动时间为 2018/4/23 17:55:31。
节点 1 上的项目“F:\cpp\hello.vcxproj”(默认目标)。
PrepareForBuild:
  正在创建目录“Debug\”。
  正在创建目录“Debug\hello.tlog\”。
InitializeBuildStatus:
  正在创建“Debug\hello.tlog\unsuccessfulbuild”，因为已指定“AlwaysCreate”。
ClCompile:
  CL.exe /c /Zi /nologo /W1 /WX- /O2 /Oy- /Gm- /EHsc /MD /GS /fp:prec

[2018-04-23 10:41] n-riesco commented on #418
@zhaodagang That means `windows-build-tools` didn't install Visual Studio properly. To fix the installation of Visual Studio, first I would remove Visual Studio, and then I would install it again (you can try [windows-build-tools](https://github.com/nodejs/node-gyp#option-1) or [option 2](https://github.com/nodejs/node-gyp#option-2)).

Note that since you already installed `windows-build-tools` on

[2018-04-23 10:57] zhaodagang commented on #418
Last week i install visual studio 2015 ,if now i uninstall it ?

[2018-04-23 11:27] n-riesco commented on #418
@zhaodagang The failure to build `hello.vcxproj` suggests that `Visual Studio 2015` isn't installed correctly in your machine. For that reason, I would uninstall it, before trying to install it again.

[2018-04-23 15:03] chriddyp commented on #423
I was using restify because it seemed "lighterweight" than express - we didn't need many of express's features like server-side templating, etc.
But from here on out, no preference from me, I'm good either way

[2018-04-25 17:30] zhaodagang commented on #418
@n-riesco , now it is successful after i install it again.

Then run these ,all is ok.

4.1. yarn install
4.2. yarn rebuild:modules:electron
4.3 yarn build
4.4 yarn start

Then auto open a window App, i connect a database, App data is show, it is right.

Now i open bowser in url "http://localhost:9494/", then show two select  like this ,i will select which it ?
connect to Plotly Cloud
Connect to P

[2018-04-25 17:58] n-riesco commented on #418
@zhaodagang Why do you want to open http://localhost:9494/ ?

`yarn start` opens a desktop app that can work without logging onto Plotly Cloud.

Here's an example:
![peek 2018-04-25 18-52](https://user-images.githubusercontent.com/6199391/39263489-37ce46e4-48ba-11e8-9e0a-241207849940.gif)

[2018-04-25 22:13] n-riesco opened #425 "Provide UI to schedule queries"
Requirements:
- list saved scheduled queries
- create a scheduled query and set:
  - query interval
  - or query time and/or date
- remove a scheduled query

[2018-04-26 02:12] zhaodagang commented on #418
@n-riesco ,i want to see in browser , so others  alse  see this app.

[2018-04-26 07:48] n-riesco commented on #418
@zhaodagang In that case, the instructions to build Falcon are different.

To build Falcon to run as a node server:

1. Rebuild native modules against node: `yarn rebuild:modules:node`

2. Create `%userprofile%\.plotly\connector\settings.yaml` and configure Falcon's authentication (`ALLOWED_USERS`, `AUTH_ENABLED`, ... See #231 for some documentation or the code [here](https://github.com/plotly/fal

[2018-04-27 21:14] jackparmer opened #426 "Set max-height and overflow-y: auto on schema container"
Looks like it should be set to about 750px to avoid this:

![image](https://user-images.githubusercontent.com/1865834/39385400-692bd866-4a3e-11e8-9704-6bee97a0c0d7.png)

[2018-04-28 22:02] #426 closed

[2018-04-30 13:22] BRONSOLO opened #428 "API domain misconfiguration for On-Premise"
Configuring the falcon desktop app to point to an On-Premise URL does not update the API domain used in the authorization request, resulting in the following error:

**Yikes! An error occurred while trying to authorize.
Error: User was not found at https://api.plot.ly**

![image](https://user-images.githubusercontent.com/1909107/39429020-8bcf3438-4c57-11e8-9802-dfa84e5fa20c.png)

**Expected behavi

[2018-04-30 16:16] n-riesco commented on #428
@tarzzz Is this issue the same as #306?

[2018-04-30 17:45] tarzzz commented on #428
Yes, It's the same issue.. !!

[2018-04-30 17:46] BRONSOLO commented on #428
OK, great - I didn't see #306. Closing this issue in favour of that one.

[2018-04-30 17:46] #428 closed

[2018-05-07 06:26] zhaodagang opened #429 "Where are the files in the chart section?"
Where are the files in the chart section?

[2018-05-08 07:31] zhaodagang opened #430 "Why is it always set chart settings?"
I download a exe programmer.
After installing it , always show chart settings.

https://user-images.githubusercontent.com/6199391/37359812-782f9a1c-26e6-11e8-9b3f-e48275e62271.gif

How it show this about charts ?
https://raw.githubusercontent.com/plotly/falcon-sql-client/master/static/images/falcon_hero.gif

[2018-05-08 15:57] n-riesco commented on #430
You need to provide the credentials to connect to your database. Like this:

![peek 2018-05-08 16-54](https://user-images.githubusercontent.com/6199391/39768224-8fb4c358-52e0-11e8-8cf3-19d9c4543e74.gif)

[2018-05-09 02:20] zhaodagang opened #431 "Can this App connect clickhouse database ?"
Can this App connect clickhouse database ?

[2018-05-10 02:39] zhaodagang commented on #430
When i am setting chart setting, why has not save button ?

2018-05-10

zdg8882000

发件人：Nicolas Riesco <notifications@github.com>
发送时间：2018-05-08 23:57
主题：Re: [plotly/falcon-sql-client] Why is it always set chart settings? (#430)
收件人："plotly/falcon-sql-client"<falcon-sql-client@noreply.github.com>
抄送："Mr Zhao"<zdg8882000@163.com>,"Author"<author@noreply.github.com>

You need to provide the credent

[2018-05-10 10:02] zhaodagang commented on #430
I connect database that is successfult .
I finished set chart settings .
Next time i open the app, let me make the Settings again.
Why??

[2018-05-10 16:13] scjody opened #432 "Missing state parameter in OAuth 2 authentication"
A 3rd party security researcher noted that Falcon does not use a "state" parameter when performing OAuth 2 authentication. This makes it vulnerable to login CSRF, which allows an attacker to force a user to log in _as the attacker_ by having them visit a link (which could be done without their knowledge via an `<iframe>`, etc).

Sample link: http://localhost:9494/oauth2/callback#access_token=tCnHm

[2018-05-10 17:32] n-riesco commented on #432
@tarzzz, would you be able to take on this issue?

[2018-05-11 06:45] zhaodagang commented on #430
@n-riesco

[2018-05-11 06:51] zhaodagang commented on #430
[day09  express框架.txt](https://github.com/plotly/falcon-sql-client/files/1994245/day09.express.txt)

[2018-05-12 00:05] MiConnell opened #434 "Tables on the left hand side should be in their own container"
The tables on the left side of the query window should be in their own container so that you can scroll within that and not have to scroll away from the display when searching for a table.

[2018-05-12 07:30] n-riesco commented on #434
Thank you for opening this issue!
This issue is fixed in https://github.com/plotly/falcon-sql-client/commit/010f96ce5f9fe09e6d7bc69b7f5ae6ad92def204 and will be included in the next release.

[2018-05-12 07:30] #434 closed

[2018-05-14 04:07] zhaodagang opened #435 "Why is it always set chart settings?"
@n-riesco, @shannonlal
I connect database that is successfult .
I finished set chart settings .Like this
![11](https://user-images.githubusercontent.com/33817963/39977869-493175c8-576f-11e8-8da7-801e0cdccb39.jpg)

Next time i open the app, let me make the Settings again.
I think like this.
![12](https://user-images.githubusercontent.com/33817963/39977878-4f282094-576f-11e8-8d9d-c2cecfb3d8f1.jpg)

[2018-05-17 20:50] n-riesco opened #438 "Disable nodeIntegration"

[2018-05-18 09:43] zhaodagang opened #439 "Can use websocket in this app"
Can use websocket in this desktop app?

[2018-05-22 15:33] n-riesco opened #440 "plotlyAPI: implement createGrid"

[2018-05-25 11:06] shannonlal opened #442 "Create Falcon Headless"
Raising an issues after talking to @n-riesco and @jackparmer about Falcon backend.  Thought it would be best to put it on here so everyone can read about this.

Main issues:
- soon we won't be able to distribute Falcon with all the connectors (we need a mechanism to install connectors dynamically; i.e. plugins)
- we want to move the backend onto its own package, so that people can run headless-Fal

[2018-05-25 17:09] #322 closed

[2018-05-25 17:09] #342 closed

[2018-05-25 17:28] n-riesco commented on #404
@shannonlal has started to look into implementing this connector. Unfortunately, there are a few difficulties to overcome:
- webpack fails to bundle `@google-cloud/bigquery` (see issues https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1821 and https://github.com/GoogleCloudPlatform/google-cloud-node/issues/531)
- and more worryingly (judging by the error logs in https://github.com/G

[2018-05-27 01:48] n-riesco opened #443 "Do not hide the code editor"

[2018-05-27 03:56] jackparmer commented on #435
Please ask usage questions at https://community.plot.ly/c/falcon-sql-client

[2018-05-27 03:56] #435 closed

[2018-05-27 03:57] #439 closed

[2018-05-27 03:57] jackparmer commented on #431
Please ask usage questions at https://community.plot.ly/c/falcon-sql-client

[2018-05-27 03:57] jackparmer commented on #430
Please ask usage questions at https://community.plot.ly/c/falcon-sql-client

[2018-05-27 03:57] #430 closed

[2018-05-27 03:57] #429 closed

[2018-05-27 03:58] #418 closed

[2018-05-28 17:01] #443 closed

[2018-05-28 17:03] #440 closed

[2018-05-28 17:54] n-riesco opened #446 "Use `navigateOnDragDrop: false`"
When https://github.com/electron/electron/pull/12655 gets released, use `navigateOnDragDrop: false` to disable drag'n'drop navigation instead of https://github.com/plotly/falcon-sql-client/blob/1b9866252816ff4b213ac7f3e1301004ee2c61fc/backend/main.development.js#L62-L66 .

[2018-05-28 21:56] n-riesco opened #448 "rename artifacts to the names used in the release"
- [x] (for mac) ship only `falcon-sql-client_2.7.0.dmg`
- [x] (for win) ship only `falcon-sql-client_2.7.0.exe`

[2018-05-30 11:23] ValdarT opened #449 "Feature request: subplots"
It would be a huge improvement for data exploration if one could also do per-category subplots / facets.

[2018-05-30 14:04] julioasotodv opened #450 "Apache Drill connector without S3"
Hi,

First of all, thank you all for Falcon. It's awesome.

However, it looks like the Apache Drill connector only works with S3 buckets. However, Drill is able to query from lots of other places (such as a local filesystem, HDFS, MongoDB...).

Adding _generic_ support for Apache Drill (without the need for S3 credentials) would be great. It would expand Falcon capabilities a lot with just one con

[2018-05-30 21:12] n-riesco opened #451 "Query panel doesn't open for non-sql databases"

[2018-06-01 14:28] n-riesco opened #452 "Dockerfile copies unnecessary files and folder into the image"
See https://github.com/plotly/falcon-sql-client/blob/e7c6ebc83228d1629a9a88470f1e9938e18785dd/Dockerfile#L47

[2018-06-05 16:11] n-riesco commented on #450
@julioasotodv sorry for the late reply. At the moment, the connector for Apache Drill doesn't implement some the functionality other SQL connectors have in Falcon.

I've had a quick look at [the documentation](https://drill.apache.org/docs/querying-the-information-schema/), and the missing functionality is readily available in Apache Drill, so this is an easy first-time contribution.

If no one ha

[2018-06-05 16:43] n-riesco commented on #449
@ValdarT sorry about the late reply. For this kind of questions, you can try https://community.plot.ly/c/falcon-sql-client

The new chart editor in Falcon v2.6 can create subplots. The tricky step is to create axes for each plot. See the screencast below for an example:

![peek 2018-06-05 17-41](https://user-images.githubusercontent.com/6199391/40990152-c8e781f2-68e7-11e8-9c86-8caf14e421d3.gif)

[2018-06-05 16:52] n-riesco commented on #388
Closing since it can't be reproduced and there hasn't been any recent activity.

[2018-06-05 16:52] n-riesco commented on #417
Closing since it can't be reproduced and there hasn't been any recent activity.

[2018-06-05 16:52] #417 closed

[2018-06-07 09:48] julioasotodv commented on #450
@n-riesco TBH I'm not that familiar with how Falcon works itself (I do not have much spare time neither...)

I will try to poke around a little bit

[2018-06-07 11:05] n-riesco commented on #450
@julioasotodv Great! If you need any help, please, post here.

The main change is to add the functions `tables` and `schemas` to https://github.com/plotly/falcon-sql-client/blob/master/backend/persistent/datastores/ApacheDrill.js and update `SQL_DIALECTS_USING_EDITOR` and `PREVIEW_QUERY` in https://github.com/plotly/falcon-sql-client/blob/master/app/constants/constants.js .

We've got some documen

[2018-06-07 11:17] shannonlal commented on #450
@julioasotodv If you have any issues with setting up the environment please let me know.  I can jump a skype call and give you a hand

[2018-06-07 23:33] n-riesco opened #456 "Query panel for ElacticSearch doesn't open"

[2018-06-07 23:37] n-riesco commented on #448
- [ ] (for win) rename artifact to `win-falcon-v2.8.0.zip`
- [ ] (for mac) rename artifact to `mac-falcon-v2.8.0.zip`
- [ ] (for linux) rename artifact to `linux-falcon-v2.8.0.tar.gz`

[2018-06-08 17:10] n-riesco opened #457 "Fix connection tabs and menu tabs fixed at the top"
While watching someone install and use Falcon for the first time, I noticed a usability issue with laptop screens not big enough that the user is forced to hide the top tabs to be able to click the `CONNECT` button.

If the user isn't familiar with Falcon, when the click connect, they may not remember the top tabs.

![peek 2018-06-08 17-54](https://user-images.githubusercontent.com/6199391/4117100

[2018-06-12 09:44] erlikam opened #458 "spark connection"
Trying to connect a spark server, I can just see  hostname, port number fields. But I need "username" and "password" fields as well to get necessary credentials to connect this server.

How I can handle it?

Thanks

[2018-06-13 22:20] n-riesco commented on #458
The Spark connector requires the user to setup [Apache Livy](http://livy.incubator.apache.org/get-started/) to access the spark server.

I could help more, but I'd need to know more about your use case (What SQLContext are you planning to use?)

[2018-06-14 13:17] nicolaskruchten commented on #425
Basic proposed work plan as sent to Dawn Labs:

Basically we have the query UI in the Cloud/On-Prem product and we want to remove it and have it live inside Falcon. From what I can tell, Falcon currently persists information about queries to disk and handles the scheduling using a really primitive "every N" counter, and exposes that information via API under /queries but there is no way to see wha

[2018-06-15 16:52] cheburakshu opened #459 "Query tab disabled in Macbook Pro."
![image](https://user-images.githubusercontent.com/27330002/41479903-f67de38c-7089-11e8-892b-646a618e44ef.png)
I am using 2.8.0.623, the query tab is disabled but the connection is successful. I tried connecting with other clients like sqlpro, they are working.

[2018-06-15 18:32] cheburakshu commented on #451
It does not open for sql dbs too #459

[2018-06-18 14:05] nicolaskruchten opened #460 "Google Sheets connector"
They have a pretty good API.

[2018-06-21 14:47] pabucur commented on #410
@n-riesco  Any progess on the Windows Authentification issue?

[2018-06-21 15:43] n-riesco commented on #410
@pabucur No, no progress. I've just checked and I haven't seen any work on mssql in https://github.com/tediousjs/tedious since April.

[2018-06-21 16:27] n-riesco commented on #460
Useful links:
- [Google sheets API](https://developers.google.com/sheets/)
- [GoogleAPIs npm library](https://www.npmjs.com/package/googleapis)
- [Quickstart example](https://developers.google.com/sheets/api/quickstart/nodejs)
- [Using OAuth 2.0 to Access Google APIs](https://developers.google.com/identity/protocols/OAuth2)

Difficulties:
- authentication by means of an OAuth client (UI for token

[2018-06-21 16:55] n-riesco opened #461 "UI: SQL connectors vs non-SQL connectors"
Falcon's UI is geared towards SQL connectors. The `Query` panel has a:
- a database overview
- a query editor
- and a table view and chart editor

Connectors that don't accept SQL queries (e.g. Amazon S3 and Apache Drill) have an ad-hoc UI that simply lists the available files.

With this issue, I'm proposing a new UI for connectors that only provide a list of files (files that contain one or more

[2018-06-21 17:02] n-riesco commented on #306
@tarzzz Is this issue still present in Falcon v2.8?

[2018-06-21 17:12] n-riesco commented on #459
@cheburakshu sorry for the late reply. The Query panel won't open if there was an error retrieving the list of schemas in the database.

Please, could you check Falcon's log file and see if there are any errors? In linux and mac, the log file is stored in `~/.plotly/connector/log.log`.

[2018-06-21 17:47] n-riesco commented on #425
I'll document briefly the current API for `/queries`:
- `GET /queries` returns an array of scheduled queries:
   - an scheduled query is an object with `{requestor, fid, uids, refreshInterval, query, connectionId}`
   - `requestor`, `fid` and `uids` are those defined in https://api.plot.ly/v2/
- `GET /queries/:fid` returns the scheduled query for the given `fid`
- `DELETE /queries/:fid` deletes th

[2018-06-22 08:31] pabucur commented on #409
I face the same issue described in the link, with the 'Run' button not responding to even the simplest of queries. An error message is displayed all the time:

[2018-06-22 08:44] pabucur opened #462 "MSSQL: Database table overview wrong"
Using the Falcon SQL Client v2.8.0 under Windows 7 and connecting to a Microsoft SQL Server where multiple databases reside, I get the wrong table overview for the database. The tables shown and the corresponding columns in the dropdown correspond to other databases present on the server. Queries on the 'correct' database, the one I actually connected to, work.

[2018-06-22 09:15] n-riesco commented on #409
@pabucur A few questions:
1. does your database name contain any `-`?
2. can you see the database tree on the left hand side in the Query panel?

If the answer to 1) is no, and the answer to 2) is yes, please, could you share a simple query that reproduces the error?

[2018-06-22 09:28] n-riesco commented on #462
Please, could you check what errors are reported in the log file `%USERPROFILE%\.plotly\connector/log.log`?

In particular, I'm interested in errors with the responses to `sql-tables` and `sql-schemas`.

[2018-06-22 09:54] n-riesco commented on #462
Oh! it looks like when we get the tables schemas we don't filter by database name.

Currently, we are using this query to build the overview:

[code]

After some experimentation, it looks like a query like this works for me

[code]

@pabucur please, could you check whether the above query works for you? You need to replace `${database}` by your database name.

[2018-06-22 11:15] n-riesco opened #463 "Query panel doesn't open if database doesn't have any tables"
At the very least we should an error message, so that the user know why the panel doesn't open.

Ideally, we should let the user open the query panel and use the query editor to create a table, but this would require:
- to update the database tree after every query
- ensure table view and chart editor can handle the case when there are no tables

[2018-06-22 11:54] pabucur commented on #462
@n-riesco The query works, inserting the name of my database between the commas

[2018-06-22 12:17] pabucur commented on #409
@n-riesco Thank you for the quick reply! After rechecking, this seems to happen when a table does not hav e the typical 'dbo' schema, but an own one (thus the point which I before mistook as being part of the table name, which it wasn't).
An example, where the database is called `user`, then the schema corresponds to a certain group `m1922`, then the table name begins with a `0` : `[user].[m1922].

[2018-06-22 13:21] n-riesco commented on #409
@pabucur Oh, I see. The table name also needs quoting. I'll fix that on #464 .

[2018-06-22 15:08] n-riesco opened #465 "UI: TableTree crashes if database has no tables"

[2018-06-22 15:13] n-riesco commented on #409
@pabucur If you want to test #464, the installer for windows is [here](https://ci.appveyor.com/api/buildjobs/diavqbn6lbufy2q7/artifacts/release%2Fwin-release.zip).

[2018-06-22 18:44] briandennis commented on #425
Thanks for the summary @n-riesco! To build on that, here is our outline of the existing query scheduling implementation. (Let me know if any of this is inaccurate)

## Existing Functionality

Currently scheduled queries are persisted with the following attributes:

- requested user
- `fid`/`uid`s for the grid
- query string
- connection id
- refresh interval

The refresh interval is currently stor

[2018-06-22 20:37] n-riesco commented on #425
@briandennis

`node-schedule` looks good to me

`POST /queries` does that (if there is a scheduled query associated with `fid`, [QueryScheduler#scheduleQuery](https://github.com/plotly/falcon-sql-client/blob/52a78ed13b196024dc2e985ebbd1b1780e84677a/backend/persistent/QueryScheduler.js#L78) deletes it, before storing the new query)

`POST /queries` can also do that, since it invokes [QueryScheduler

[2018-06-25 14:31] #299 closed

[2018-06-25 14:31] #409 closed

[2018-06-25 14:31] #462 closed

[2018-06-26 14:11] nicolaskruchten commented on #425
I love the UX direction you're headed in @briandennis with the force-run and the extra persisted data etc but it's kind of out of scope for the project I've laid out, so I'd like to wait on some of these discussions.

* If you look at the plan I laid out at the top, I was hoping we would start with as step 1 "a view into what Falcon currently has persisted in terms of queries" which should be an e

[2018-06-26 17:00] n-riesco opened #466 "MySQL v8: Error: ER_NOT_SUPPORTED_AUTH_MODE"
- Issue reported in https://community.plot.ly/t/cant-connect-using-the-falcon-sql-client/11007
- Fix in https://github.com/mysqljs/mysql/pull/1962
- Workaround in https://github.com/mysqljs/mysql/pull/1962#issuecomment-390900841

[2018-06-26 17:04] n-riesco opened #467 "mysql: `select * mysql.user` crashes the query panel"

[2018-06-26 18:59] scjody commented on #425
Yes, backwards compatibility is one of our [On-Prem commitments to customers](https://github.com/plotly/dev-docs/blob/master/on-prem/developer-setup.md#our-commitments-to-customers). If you need to change the format, I suggest looking for an old file when the `falcon` container starts and converting it to the new format if needed. (Then delete the old file so it doesn't get converted next time.)

[2018-06-27 07:14] Nemecsek opened #468 "Hangs at startup if first table needs apostrophes to be addressed"
FalconSQL (Linux v.2.4.0) creates a first query in the query panel at startup, such as `SELECT * FROM first-table LIMIT 1000`.

The issue is related to this first table name: if it needs apostrophes to be addressed in common SQL queries (such as in \` `aa-first-table` `) the program stops working and it is not possible to select any other table nor change the query.

To try, create a table aa-firs

[2018-06-27 07:53] n-riesco opened #469 "UI: robustify the handling of request errors"
We have a number of bugs caused by a poor handling of request errors. Just for the record, so that we tackle them all in one go:
- [ ] #264
- [ ] #353
- [ ] #355
- [ ] #384
- [ ] #390
- [ ] #391
- [ ] #456
- [ ] #459
- [ ] #463
- [ ] #465

[2018-06-27 07:55] n-riesco commented on #468
Thank you for the report (and the workaround!).

We have a number of bugs caused by a poor handling of request errors in UI. I've opened issue #469 to keep track of them.

[2018-06-27 08:57] Nemecsek commented on #468
At least in this case the solution should be easy: to avoid the creation of the first "demo" query that's executed automatically at start. What is it its use, anyway?

[2018-06-27 14:49] n-riesco opened #470 "UI: preserve last chart"
With the current behaviour (Falcon v2.8), if a user switches to another connection or restarts the app, Falcon resets the chart editor.

This is particularly inconvenient when working with multiple connections.

![peek 2018-06-27 15-39](https://user-images.githubusercontent.com/6199391/41981219-4b99feec-7a20-11e8-90f5-3a89b2e18001.gif)

---

I'm opening this issue to discuss alternative behaviours

[2018-06-27 14:59] n-riesco commented on #430
- Link to the question on the forum: https://community.plot.ly/t/why-is-it-always-set-chart-settings/10567
- Opened issue #470 to discuss alternative behaviour.

[2018-06-27 15:39] n-riesco commented on #431
For anyone interested in implementing a connector for ClickHouse:
- [ClickHouse documentation](https://clickhouse.yandex/docs/en/)
- [ClickHouse HTTP API](https://clickhouse.yandex/docs/en/interfaces/http_interface/)
- Node.js drivers:
  - [@apla/clickhouse](https://www.npmjs.com/package/@apla/clickhouse): promises, callbacks and streams, authentication
  - [clickhouse](https://www.npmjs.com/packa

[2018-06-27 20:11] jakedex commented on #425
I definitely agree with your UX concern, @nicolaskruchten, but I'm not sure if moving the 'schedule' button into the export context is the right solution.

IMO it makes more sense to schedule a query than to create an 'updating dataset', especially in the context of the 'schedule' tab. I think we could simply disable the 'schedule' button when the user isn't logged in and add an onhover tooltip to

[2018-06-27 20:17] nicolaskruchten commented on #425
OK, let's skip the hifi mocks and head directly to the PRs :)

[2018-06-27 20:18] nicolaskruchten commented on #425
But even if we still have the 'schedule' button next to 'run' I think it makes sense to have another one under 'export'.

[2018-06-28 12:55] victornoel opened #471 "Linux's tar.gz is gzipped twice"
Hi,

It seems that the tar.gz for linux in the release tab has been gzipped twice instead of once.

See:
[code]

[2018-06-29 18:36] n-riesco commented on #471
The cause of this issue is [a long-standing bug in Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=610679#c62).

I'm planning to documents the steps we follow to make a release and add a note so that we don't use Firefox to download artifacts from CircleCI.

[2018-06-30 02:11] nicolaskruchten commented on #425
Something that just came to mind: when clicking "schedule query" how should we handle the target? Should every new scheduled query target a new dataset in the target Plotly instance? Or should the user have the choice to overwrite an existing FID? what if they delete a previously scheduled query that was sending data to a dataset upon which one or more charts depend? They would likely want to crea

[2018-06-30 02:17] nicolaskruchten commented on #425
Another semi-related thought: when editing scheduled queries, how/will the user be able to preview the changes to their SQL? Will they have to build/preview a query in the Query tab and then find it in the Schedule tab and paste the SQL in? Or will they be able to find it in the Schedule tab and somehow be able to 'edit in' the Query tab? I'm thinking of simple/common situations where someone edit

[2018-07-02 17:09] jakedex commented on #425
That's a good point. The more that I think about this, I agree that something like a "Dynamic Dataset" is the right approach. In the meantime, I think something like "Upload Dataset (auto-updating)" will work but this is definitely something we'll want to make more coherent in the next stage.

[2018-07-02 17:37] jakedex commented on #425
re grids: The user should have the choice to select/create a target when scheduling a query, and I think this will make more sense once we're referring to these as dynamic datasets.

re editing scheduled queries: At this stage, I don't think users should be able to edit the query field (as per the mocks)—they'll just have to delete and then create a new scheduled query. On that thought though, in

[2018-07-02 22:07] n-riesco commented on #425
How about `Schedule Update`?

[2018-07-03 10:10] n-riesco opened #473 "settings: remove unused code"
https://github.com/jakedex/falcon-sql-client/blob/95894eb85404e931a82d8bfcda5e1fa097ca7620/app/components/Settings/Settings.react.js#L496-L498

[2018-07-03 11:39] n-riesco opened #474 "backend: provide grid names"
cc/ @tarzzz @mfix22 @briandennis

Re/ [this comment in #472](https://github.com/plotly/falcon-sql-client/pull/472/#issuecomment-401862792).

At the moment, a request to Falcon's `GET /queries` returns an array of query objects `{requestor, fid, uids, refreshInterval, query, connectionId}` that doesn't include grid name.

The proposal here is that we ensure the returned query objects include the pr

[2018-07-03 13:18] nicolaskruchten commented on #474
This could get expensive if there are 100 queries, that's 100 calls to the API right?

[2018-07-03 14:14] tarzzz commented on #474
That's correct.

[2018-07-03 14:55] n-riesco commented on #474
https://api.plot.ly/v2/grids#lookup doesn't support listing all files :(

[2018-07-03 15:02] tarzzz commented on #474
@n-riesco You should be able to use: https://api.plot.ly/v2/folders#all (with the query-parameter as `grid` ) to get all the grids for that user.. (which can then be filtered for the `fid` from falcon .. !!

[2018-07-03 15:03] n-riesco commented on #474
@tarzzz Thx!

[2018-07-03 15:13] nicolaskruchten commented on #474
That will also be very expensive if there are many grids... some users have 10k grids

[2018-07-03 15:14] nicolaskruchten commented on #474
What we would need is to ask the API "what are the names of these N fids?"

[2018-07-03 15:16] tarzzz commented on #474
True. Unfortunately, we don't have any endpoint at the moment which takes a list of `fid`s and return only their metadata.. !! Either we can list them all, or we can get them iteratively using `detail` endpoint.. !!

[2018-07-03 15:17] nicolaskruchten commented on #474
Yep, and what I'm saying is that neither of these are going to be great from a performance POV.

[2018-07-03 17:06] n-riesco opened #475 "setup prettier"

[2018-07-04 00:16] mfix22 commented on #475
@n-riesco @nicolaskruchten we can pick this up and submit a PR after we push the Stage 2 PR 👍

[2018-07-04 00:22] nicolaskruchten commented on #475
After stage 3 would likely be best actually but I’m glad you guys are
excited about this also :)

On Tue, Jul 3, 2018 at 20:16 Michael Fix <notifications@github.com> wrote:

[2018-07-04 08:33] n-riesco commented on #475
@mfix22 @nicolaskruchten Let's do this after the on-prem release.

[2018-07-04 08:36] n-riesco opened #477 "tests should not use default configuration folder"

[2018-07-04 12:59] tibaes opened #479 "Satellite map doesn't plot anything"
Using latitude and longitude data I am able to plot using Scatter or Atlas Map, however the type Satellite Map doesn't plot anything at all. I am using the version 2.8.0 on a MacOS 10.12.6.

[2018-07-04 15:21] n-riesco commented on #479
To use Satellite Maps in the chart editor, Falcon requires [Mapbox access tokens](https://www.mapbox.com/help/how-access-tokens-work/).

We haven't implemented yet any means to provide these tokens to Falcon.

[2018-07-04 15:43] nicolaskruchten commented on #479
@n-riesco we should disable those trace-types in the embedded editor then until this is supported.

[2018-07-04 15:46] n-riesco commented on #479
@nicolaskruchten Is there an easy way to do that?

[2018-07-04 15:47] nicolaskruchten commented on #479
https://github.com/plotly/react-chart-editor/blob/master/dev/App.js#L44

[2018-07-04 15:49] n-riesco commented on #479
@nicolaskruchten Falcon is using `<PlotlyEditor>` at the moment.

[2018-07-04 16:48] tibaes commented on #479
@n-riesco thanks for letting me know. I was thinking I missed something.

[2018-07-04 16:55] nicolaskruchten commented on #479
On further research, the idea was that if no mapbox token is provided to the editor, those trace-type options should automatically hide...

[2018-07-04 16:59] nicolaskruchten commented on #479
Perhaps this is just because we're not using the latest version of the editor here. We should definitely upgrade the editor in the next week :)

[2018-07-04 17:00] nicolaskruchten opened #480 "Upgrade to latest version of react-chart-editor"
We'll be releasing 0.18.0 today so we should target at least that.

[2018-07-05 20:30] nicolaskruchten commented on #425
Re backwards compatibility, we should think about the implications of old/new versions of the Frontend, Backend and file formats interacting together. In the short run Plotly Cloud will keep using the 'interval' method to talk to Falcon so we have to support an "old frontend/new backend" permutation. Additionally, upgrading Falcon means we have to support "old file format/new backend" permutation.

[2018-07-05 20:59] n-riesco commented on #425
@nicolaskruchten

Re/ **backwards compatibility**

We already discussed this on a slack call, but I'll write it here. My position (from a maintainer's point of view) is that we avoid breaking backwards-compatibility by extending formats rather than redefining them.

For example, a query is currently formatted as *{requestor, fid, uids, **refreshInterval**, query, connectionId}*, where `refreshInte

[2018-07-05 21:04] nicolaskruchten commented on #425
Yes agreed.

But what about a new Falcon seeing a request with the old interval format?
It should accept it, right? What format does it write? Old Falcon seeing a
file written with a new Falcon? And so on

On Thu, Jul 5, 2018 at 16:59 Nicolas Riesco <notifications@github.com>
wrote:

[2018-07-05 21:45] n-riesco commented on #425
@nicolaskruchten It'll use the old format, because the new format is unable to reproduce the old behaviour.

[2018-07-05 21:48] n-riesco commented on #425
To be clear:
- `refreshInterval` (i.e. old format) defines an interval that starts when Falcon's startup
- `cronInterval` (i.e. old format) can't express what Falcon's startup time is.

[2018-07-05 23:33] #448 closed

[2018-07-06 11:30] n-riesco commented on #450
@julioasotodv did you have a chance work on this feature? If you haven't, @kndungu is interested in implementing it.

[2018-07-06 12:09] n-riesco opened #484 "test failure "Can't set headers after they are sent""
see https://circleci.com/gh/plotly/falcon-sql-client/5156?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-07-06 12:31] #480 closed

[2018-07-06 14:02] nicolaskruchten commented on #425
OK, so basically an entry in the yaml file should only have one of `refreshInterval` or `cronInterval`, but never both, and a "new Falcon" should honour both modes for its scheduling and honour both modes when updating a query, depending on the parameters passed in by the UI: new UI sends only `cronInterval` and old UI (hosted on Plotly Cloud/Enterprise) sends only `refreshInterval`? I could live

[2018-07-06 14:03] nicolaskruchten commented on #425
PS: I'm assuming that the idea you're proposing is that both types of entries can live in the same yaml file, right? Please correct me if I'm mistaken!

[2018-07-06 14:32] n-riesco commented on #425
@nicolaskruchten

yes, that's the idea.

That's equivalent to `setInterval(runQuery, NaN)`. I.e. it would run the query as soon as the previous query has completed.

Why is this significant?

yes, that's the idea.

[2018-07-06 14:49] nicolaskruchten commented on #425
I just want to make sure we know what would happen if e.g. someone creates a query with an old falcon, then upgrades and saves it, then downgrades. Seems very unlikely but still, the behaviour you're describing isn't great... Could we say that if `cronInterval` is defined, then we set `refreshInterval` to some enormous number instead, to avoid this?

[2018-07-06 14:50] nicolaskruchten commented on #425
Other than that, thanks for thinking through the permutations with me, the scheme laid out above makes sense to me. @mfix22 what do you think?

[2018-07-06 15:28] briandennis commented on #425
Yep, this is exactly how we were thinking it would work if we need to account for the situation where "old falcon" runs into a "new falcon" query file 👍

We can calculate a ballpark `refreshInterval` fallback based off the `cronInterval` or just use some arbitrary value depending on how important you think accuracy is here.

[2018-07-06 19:37] julioasotodv commented on #450
Hi, unfortunately I did not have any time at all :(

Also, I found out that my js is extremely rusty 😅

So yeah, @kndungu can go ahead anytime :)

[2018-07-06 19:54] briandennis commented on #425
Is it safe to assume that all existing scheduled query intervals will conform to one of the options exposed through chart studio? (i.e. every minute, 5 minutes, hourly, daily, or weekly)

One issue with having to support both formats is that there are some intervals which are difficult to express through cron expressions. For example, a `refreshInteval` that comes out to 45 days (`refreshInteval`

[2018-07-06 20:39] n-riesco commented on #425
@scjody Please, see the comment above. Do we need to keep backwards-compatibility for any refresh interval? or only those intervals offered by Chart Studio?

[2018-07-06 20:57] n-riesco commented on #425
@briandennis

Can this be done without converting `refreshInterval` into `cronInterval`?

I had imagined something  like this woudl work:
[code]

[2018-07-06 21:48] briandennis commented on #425
@n-riesco yes, something like that would definitely work. Just trying to avoid making it more complex than we need to. If we can unify under a single scheduler API, that would make things easier down the road if we want to track additional scheduling metadata (time of next execution for example).

[2018-07-06 22:17] n-riesco commented on #425
@briandennis Here's a quick untested idea:

[code]

[2018-07-10 20:45] scjody commented on #425
I'm not aware of any supported way to set a refresh interval other than through the streambed UI.

@n-riesco Can you confirm if that's the case? If so I'm OK with only supporting those intervals.

[2018-07-11 14:29] scjody commented on #425
@n-riesco I'm happy _not_ supporting backwards compatibility in those cases.

[2018-07-14 20:30] hilkoc opened #490 "Views not visible when connected to sqlite"
Using the falcon sql client v 2.8.0 on linux,
after creating a sqlite database with some tables and a view on those tables,
in the falcon client the view is not visible in the left panel, that shows the schema.

[2018-07-17 17:23] nicolaskruchten opened #491 "Documentation page for Scheduled Queries"
We will likely need a new page here https://help.plot.ly/database-connectors/ to walk users through the new Scheduled Queries pane and workflow. /cc @cldougl

[2018-07-17 20:37] cldougl commented on #491
👍 -- moving over to the [help doc repo](https://github.com/plotly/plotly.github.io/issues/358) to add to the queue: https://github.com/plotly/plotly.github.io/issues/358

[2018-07-17 20:37] #491 closed

[2018-07-19 20:26] nicolaskruchten opened #492 "Schedule tab stage 5: run status"
@briandennis I'm just teeing up this issue for when Stage 3 is done... Stage 4 is basically all the stuff that's in your mock that's not in Stage 3, such as "last run time and status (Success/num-rows or failure)" and tags and force-run-right-now and so on.

[2018-07-19 21:32] briandennis commented on #492
The aim with stage 4 is strictly to add in the ability to associate a name with queries. Note, our last [scope adjusted mocks](https://github.com/plotly/falcon-sql-client/issues/425#issuecomment-400813333) did not include the concepts of last run time, status, or tags.

[2018-07-19 21:44] nicolaskruchten commented on #492
Ah ok we can rename this issue “stage 5” then :)

On Thu, Jul 19, 2018 at 17:32 Brian Dennis <notifications@github.com> wrote:

[2018-07-23 15:53] n-riesco opened #494 "Hold sequelize at v3.30.4 to workaround incompatibilty with redshift"
I'm opening this issue to document the change https://github.com/plotly/falcon-sql-client/pull/488/commits/25d2211a6b6af109820a365606dd43df353bb712

---

- https://circleci.com/gh/plotly/falcon-sql-client/5361
- https://github.com/plotly/falcon-sql-client/pull/488#issuecomment-407094951

---

@briandennis If you have any links re/ this issue, please, could you post them here?

[2018-07-23 16:05] n-riesco opened #495 "Hold chromedriver at v2.33.2 to workaround CircleCI failure"
I'm opening this issue to document the change https://github.com/plotly/falcon-sql-client/pull/488/commits/477bd70e04140681656af4194f37a6dfdb6da255

- https://circleci.com/gh/plotly/falcon-sql-client/5426
- https://github.com/plotly/falcon-sql-client/pull/488#discussion_r204443679

---

- http://quabr.com/51381850/chromedriver-not-starting-in-docker

[2018-07-23 17:22] briandennis commented on #494
- https://github.com/sequelize/sequelize/issues/5254
- https://docs.aws.amazon.com/redshift/latest/dg/c_redshift-and-postgres-sql.html

[2018-07-24 15:03] n-riesco opened #497 "PreviewModal: horizontal overflow with long query names"
Tested on master 35b029eca6c83bbe4f92201a292f4fd30a186882

![image](https://user-images.githubusercontent.com/6199391/43147467-022efb2c-8f5b-11e8-8966-12fa4bcb9c92.png)

@nicolaskruchten @briandennis @mfix22

[2018-07-24 17:00] nicolaskruchten commented on #306
@tarzzz bump :)

[2018-07-24 20:16] nicolaskruchten commented on #425
I'm pretty comfortable with closing out this issue and shuffling the outstanding stuff we discussed into the Stage 5 issue #492 ... objections?

[2018-07-24 20:21] #497 closed

[2018-07-24 20:22] nicolaskruchten opened #499 "Schedule Tab UI QA roundup"
Let's gather up a few problems here for fixup in a smaller number of PRs than 1-1...

[2018-07-24 20:43] mfix22 commented on #499
Currently when you log in, the enter app is refreshed, which means that no matter what this local state will get reset.

Do you want to resolve this issue and [this](https://github.com/plotly/falcon-sql-client/issues/499#issuecomment-407540216) with a help message and link to log in if the user isn't?

[2018-07-24 20:49] tarzzz commented on #306
Yes, I see it in v2.8 as well.. !!

[2018-07-25 04:09] briandennis opened #501 "How should scheduled queries not created by the current user be handled?"
Currently, if a scheduled query was created by a different user than the one currently logged in, it is read only.

Is this correct behavior? If Falcon is running on a shared server, are there cases where multiple users should have permission to edit/delete a single scheduled query?

[2018-07-25 14:44] nicolaskruchten commented on #499
This one isn't strictly related to the scheduling stuff, but will resolve #479 and I can't seem to do it in my dev environment due to build errors: I'd like to bump the `react-chart-editor` dependency from 0.18 to 0.21 please :)

[2018-07-25 14:46] nicolaskruchten commented on #501
Interesting question.  @BRONSOLO @tarzzz can you help answer it?

@briandennis when you say "it is read-only" what does that look like in the UI?

This makes me think: should we have a legit "edit" button in the scheduled tab to make it extra-clear that that's how you edit stuff? And then the edit button could be greyed out with a tooltip if read-only?

[2018-07-25 17:14] nicolaskruchten commented on #501
I think I would be comfortable with allowing users to edit each others' queries *IF* the edits aren't saved unless the first save succeeds. Presumably if user X is trying to edit user Y's query targeting a fid belonging to Y, and X does not have write access to that fid, then her first update will fail with an informative error message and everyone is happy.

[2018-07-25 17:35] briandennis commented on #501
@nicolaskruchten in the UI that means they'll still see the query in the list and can still view it's details. But the edit/delete buttons are hidden (equivalent to not being logged in).

[2018-07-25 17:41] briandennis commented on #501
re allowing users to edit each others' queries:

Maybe @n-riesco can shed some light here as I don't completely understand the logic, but [this description of behavior](https://github.com/plotly/falcon-sql-client/blob/master/backend/persistent/QueryScheduler.js#L289) makes me nervous about that solution. If user X not having permission leads to user Y's query getting removed that seems problematic

[2018-07-25 18:06] nicolaskruchten commented on #501
OK. I'm fine with the current read-only behaviour unless @n-riesco thinks it's a problem, and so long as we haven't changed the behaviour of Falcon wrt to the old UI.

[2018-07-25 18:12] n-riesco commented on #501
@briandennis @nicolaskruchten I don't have the whole picture, because I'm not very familiar with Plotly's API. But this is how it goes in Falcon:

- whenever a user goes through the oauth2 procedure successfully, the access token is stored in `~/.plotly/connector/settings.yaml` (see https://github.com/plotly/falcon-sql-client/blob/dd7ec836b0dde2d12ebc38f1d4101743d5ce3aad/backend/routes.js#L340 )

[2018-07-25 21:44] briandennis commented on #501
Thanks for the info @n-riesco, really informative!

As per discussion, we're going to leave the current read-only behavior in place for now. Note #500 adds a message to inform the user why the query is read-only.

Closing this for now, let's reopen down the road if we want to update this behavior.

[2018-07-25 21:44] #501 closed

[2018-07-25 22:23] briandennis commented on #499
@nicolaskruchten was your build error similar to [the one on CI](https://circleci.com/gh/plotly/falcon-sql-client/5490)? I can't replicate this locally when building...

[2018-07-26 00:38] nicolaskruchten commented on #499
Nope, I'm having issues building the Oracle driver from source.

[2018-07-27 01:55] #499 closed

[2018-07-27 01:55] nicolaskruchten commented on #479
Resolved by bumping `react-chart-editor` to v0.21.1.

[2018-07-27 01:55] #479 closed

[2018-07-27 15:45] #471 closed

[2018-07-27 15:46] tarzzz opened #503 "Scheduling should also add SQL query to grid metadata"
When the query is scheduled from Chart studio, the SQL query is stored with the grid-metadata, and it appears in the webapp under tab 'SQL Query' . It doesn't appear when the query is scheduled from Falcon:

![image](https://user-images.githubusercontent.com/1546532/43330931-8cefe292-9192-11e8-9eee-b79696747d82.png)

The fix here would be to send the query and the refresh interval as the payload f

[2018-07-27 15:56] nicolaskruchten commented on #503
Argh, that's a good point. Unfortunately we'll probably have to fix this for 2.5, because otherwise the following is possible/likely:

1. User creates and saves a grid in Chart Studio with SQL_1 which is saved in the metadata
2. User edits the schedule for the query in Falcon-on-prem, and along the way edits the query itself.
3. The query in the metadata is no longer the same as the query that's b

[2018-07-27 16:05] n-riesco commented on #503
@nicolaskruchten I was under the impression that the UI to schedule queries will be removed from onprem (doesn't that include this tab?)

[2018-07-27 16:19] nicolaskruchten commented on #503
It will, but in 2.6

[2018-07-27 16:35] nicolaskruchten commented on #503
Why does the webapp need to understand the new cronInterval?

[2018-07-27 16:42] n-riesco commented on #503
@nicolaskruchten What data goes into this metadata? From @tarzzz 's comment, it sounds like `refreshInterval` is one of the fields.

[2018-07-27 17:17] nicolaskruchten commented on #503
Ah, I see what you mean. I think that so long as the SQL Query is correct we can get away with sending the 'nearest' refreshInterval. We don't have the bandwidth to modify the webapp-size code at the moment.

[2018-07-27 17:32] n-riesco commented on #503
@nicolaskruchten I don't think it's possible to define the 'nearest' `refreshInterval` (what would be the `refreshInterval` of a `cronInterval` that runs on Mondays, Tuesdays and Thursdays?).

Currently new scheduled queries (i.e those that set  `cronInterval`) have `refreshInterval` set to [weekly](https://github.com/plotly/falcon-sql-client/blob/d3702cf2836af8fb02c66bf9a8911becf2160958/app/const

[2018-07-27 17:33] nicolaskruchten commented on #503
We'll have to come up with a 'mostly good' heuristic. It won't be very good for the Mon/Tue/Thu case but we'll live with it.

[2018-07-27 17:35] n-riesco commented on #503
@nicolaskruchten Also note that `cronInterval` can represent monthly schedules, whereas `refreshInterval` can't.

[2018-07-30 17:49] briandennis commented on #503
re 'mostly good' heuristic: we need to do something similar when determining which cron mode to show in the UI by default. For reference, the code for that is [here](https://github.com/plotly/falcon-sql-client/blob/d3702cf2836af8fb02c66bf9a8911becf2160958/app/components/Settings/cron-picker/cron-helpers.js#L48)

[2018-07-30 21:03] nicolaskruchten commented on #503
OK, so it looks like whenever Falcon saves a query, we'll need to `PATCH` the grid with some `metadata` and a `refresh_interval` here: https://api.plot.ly/v2/grids/#partial_update (the docs don't mention `refresh_interval` but it's accepted (per @tarzzz)

The `metadata` needs to match what gets populated by the webapp when it creates grids with corresponding falcon queries, e.g.

[code]

And `refr

[2018-07-31 14:56] nicolaskruchten commented on #503
Here's the webapp code that does the metadata call: https://github.com/plotly/streambed/blob/de12e76b5640b40747b14deaf095ff0db3de0fb0/shelly/webapp/static/webapp/src/workspace/actions/sql_connector.js#L287

[2018-07-31 21:14] sidd1990 commented on #450
Hi all,

I am interested to contribute. I have a similar experience of developing the connector. But, I am new to open source contribution. Need help!

[2018-07-31 22:04] sumedhsakdeo commented on #404
Any updates on this integration? What are the rough timelines, when we can expect google bigquery integration with plotly?

[2018-08-01 00:46] shannonlal commented on #404
@sumedhsakdeo I am only about 10 hours away from getting this working just need to finish this off.  I was having a problem with using the official npm for bigquery but @n-riesco  helped me resolve it.  I have the UI and stubbed code for backend just need to get everything completed and tested.  Shouldn't be too long

[2018-08-01 00:48] shannonlal commented on #450
@sidd1990 Which connector are you interested in adding.  I can help you with the connector and UI part and walk you through the integration

[2018-08-03 20:22] #503 closed

[2018-08-04 01:44] nicolaskruchten opened #507 "Updating queries with different numbers and names of columns"
Try the following scenario from Falcon with an SQL connector like Postgres:

1. Create a query `select 1 as a` and save it. The result is as expected.
2. Update it to `select 2 as a` and save it. The result is as expected.
3. Update it to `select 3 as b` and save it. Note that the grid on the Plotly side still has the column named `a` and not `b` although the cell value in the row is indeed `3` an

[2018-08-04 12:56] scjody commented on #507
@nicolaskruchten Is this a regression from 2.4.0? If so can you log an issue in streambed so we can add it to the project?

[2018-08-06 17:25] nicolaskruchten commented on #507
FWIW I would consider just raising a user-visible error in cases like this, so that we can move forward with the release, if it's not feasible to actually resolve this fully/properly within the next few days.

[2018-08-06 19:49] ZuluagaSD opened #508 "How to connect to kerberized Impala cluster."
I have a MacBook Pro running High Sierra 10.13.6, I can connect to Impala using the official ODBC provided by Cloudera.

Can I use that same ODBC to connect Falcon to my Impala cluster?

[2018-08-07 13:33] nicolaskruchten opened #509 "Prevent editing of queries"
In order to meet our release schedule, let's make it such that query text is no longer editable in Falcon, just the schedule (for now). Once we have a fix for #507 we'll undo this.

[2018-08-10 00:02] n-riesco opened #513 "Version 3.0.2"
# Release Checklist

- [x] ~~Create branch `vM.m.p`~~ (direct release onto branch `3.0-onprem`)
- [x] Update `CHANGELOG.md`
- [x] Update version number in `package.json`
- [x] Confirm CircleCI build works
- [x] Confirm TravisCI build works
- [x] Confirm AppVeyor build works
- [x] Confirm Quay build works
- [x] Confirm Windows installer works and Falcon is able to connect to DB2 and sqlite
- [x] Co

[2018-08-10 10:57] #513 closed

[2018-08-10 15:06] nicolaskruchten commented on #509
Given the proper fix for #507 this isn't needed any more :)

[2018-08-10 15:06] #509 closed

[2018-08-10 15:06] nicolaskruchten commented on #507
Closed by #511

[2018-08-10 15:06] #507 closed

[2018-08-13 17:18] tarzzz commented on #508
Hey @ZuluagaSD (Sorry for the delayed response).

Falcon doesn't support connecting to impala using kerberos authentication.